﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="WaterfallMethodDiagram.aspx.cs" Inherits="WaterfallMethodDiagram" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


          <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" class="btn tog btn-default visible-xs glyphicon glyphicon-list" id="menu-toggle"></a>
                        <div class="disc">
                            <div class="litetooltip-hotspot-wrapper hotsot-one" style="max-width: 1005px">
                                <div class="litetooltip-hotspot-container" style="padding-bottom: 51.64179104477612%">
                                <%--<img src="images/unnamed.png" class="img-responsive" data-width="1005" data-height="519" />--%>
                                <h1>Waterfall  Method </h1>


                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->



</asp:Content>


