﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IEMobile 7 ]> <html dir="ltr" lang="en-US"class="no-js iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html dir="ltr" lang="en-US" class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7 ]>    <html dir="ltr" lang="en-US" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html dir="ltr" lang="en-US" class="no-js ie8 oldie"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html dir="ltr" lang="en-US" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <link type="image/x-icon" rel="shortcut icon" href="favicon.ico" />
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,500,700' rel='stylesheet' type='text/css' />
    @Styles.Render("~/Content/bootstrap")

    @Styles.Render("~/Fonts/google/css")

    @Styles.Render("~/Content/kendo/web/css")

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="body">
    <!-- MESSAGES WRAPPER BEGIN -->
<div class="msg">
    <div id="divCommenMessage" class="alert alert-warning alert-block" style="display: none;">
        <button id="btnmsgc" type="button" class="close" data-dismiss="alert"></button>
        <h4>
            <i id="iCommaenimage" class="att att-bell"></i>
            <span id="spanMassageType">Warning!</span>
        </h4>
        <br/>
        <div id="warMsgBody"></div>
    </div>
</div>
    <div class="modal fade confirm-box" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="confirmBox">
        <div class="modal-dialog modal-sm">
            <div id="confirmContent" class="modal-content">
                <h2 id="confirmMessage">You Want Delete This Record?</h2>
                <div class="confirm-action">
                    <button id="btnConfirmYes" type="button" class="btn btn-default action-1" data-dismiss="modal">Yes</button>
                    <button id="btnConfirmNo" type="button" class="btn btn-primary action-2" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
<div id="site">
    <header id="header">
        <div class="row">
            <div class="col-xs-2 col-sm-6 col-md-6 pull-left">
                <button class="menu" id="menu"></button>
                <a href="leaveapply.html" class="hidden-xs"><img src="/Content/themes/base/images/logo-2.png" class="img-responsive img-2" alt="Image"/></a>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-6 pull-right">
                <div class="user-block">
                    <img src="/Content/themes/base/images/user.png" class="img-responsive" alt="Image"/>
                    <h1>
                        <a href="#" title="@User.Identity.Name">@User.Identity.Name</a>
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <!-- /header -->
    <div class="page-section">
        <div class="title">@ViewBag.Title</div>
        <div class="wrapper">
            @*<form id="valForm" name="valForm">*@
                <div class="container-fluid">
                    <div class="row">
                        <div class="mob-null">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            @*</form>*@
        </div>
    </div>
    <footer id="footer" class="text-center">
        <p>
            Copyright © @DateTime.Now.Year a<span>tt</span>une. All rights reserved
        </p>
    </footer>
    <!-- /footer -->
</div>
@Html.Partial("_LeftMenu")
     
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/kendo-web")
@Scripts.Render("~/bundles/app")
@RenderSection("scripts", required: false)

<script type="text/javascript">
    (function($scope) {
        /*
            Assign page modes of current execution of the post control action
            */
        $scope.PageMode.action = "@(ViewContext.RouteData.Values["action"] as string)";
        $scope.PageMode.controller = "@(ViewContext.RouteData.Values["controller"] as string)";

        $scope.culture = "@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName.ToLowerInvariant()";

        //Overriwte the $scope.Messages with the current culture
        $scope.Messages = $scope.Messages[$scope.culture];
        /*
                List all localized informations required to maaped into js
            */
        $scope.Messages.success = "@M("CommonRecordSaveSuccess")";
        $scope.Messages.failed = "@M("CommonRecordSaveFailed")";
        $scope.Messages.fileFormatWrong = "@M("MasterQuestionBankFileFormatWrong")";
        $scope.Messages.answerLimit = "@M("MasterQuestionBankAnswerLimitError")";
        $scope.Messages.answerCannotBeNull = "@M("MasterQuestionBankAtleastOneAnswerIsRequired")";
        $scope.Messages.correctAnswerisRequired="@M("MasterQuestionBankAtleastOneAnswerShouldBeCorrect")";
        $scope.Messages.moreThanOneAnswerCannotBeCorrect="@M("MasterQuestionBankMoreThanOneAnswerCannotBeCorrect")";
        $scope.Messages.noRecordsFound="@M("MasterQuestionBankNoRecordsFound")";
        $scope.Messages.selectExamType="@M("MasterExamPleaseSelectExamType")";
        $scope.Messages.selectQuestionPickingMode="@M("MasterExamPleaseSelectQuestionPickingMode")";
        $scope.Messages.addQuestionCategories="@M("MasterExamPleaseAddQuestionCategories")";
        $scope.Messages.recordAlreadyExist="@M("MasterExamRecordsAlreadyExists")";
        $scope.Messages.cannotAddDuplicateQuestionCategories="@M("MasterExamCannotAddDuplicateQuestionCategories")";
        $scope.Messages.questionCountExceeded="@M("MAsterExamQuestionCountExceeded")";
        $scope.Messages.deleteRecordsPopupTitle="@M("MasterExamConfirmationPopupDeleteTitle")";
        $scope.Messages.deleteRecordsPopupContent="@M("MasterExamConfirmationPopupDeleteContent")";
        $scope.Messages.deactivateRecordsPopupTitle="@M("MasterCommonConfirmPopupDeactivateTitle")";
        $scope.Messages.deactivateRecordsPopupContent="@M("MasterCommonConfirmPopupDeactivateContent")";
        $scope.Messages.selectCategory="@M("MasterExamPleaseSelectCategory")";
        $scope.Messages.deleteRecordsCommonPopupContent="@M("MasterCommonConfirmPopupDeleteContent")";
        $scope.Messages.deleteRecordsCommonPopupTitle="@M("MasterCommonConfirmPopupDeleteTitle")";
        $scope.Messages.publishQuestionPopupTitle="@M("MasterQuestionBankConfirmPopupPublishTitle")";
        $scope.Messages.publishQuestionPopupContent="@M("MasterQuestionBankConfirmPopupPublishContent")";
        $scope.Messages.commonEditTooltip="@L("CommonEditTooltip")";
        $scope.Messages.commonDeleteTooltip="@L("CommonDeleteTooltip")";
        $scope.Messages.commonViewTooltip="@L("CommonViewTooltip")";
        $scope.Messages.commonDeactivateTooltip="@L("CommonDeactivateTooltip")";
        $scope.Messages.commonPublishTooltip="@L("CommonPublishTooltip")";





    })(window.Exam);
</script>
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            $(function() {
                Exam.Utils.setMessage('@TempData["Message"]', @TempData["MessageType"]);
            });
        </script>
    } 
</body>
</html>