﻿<div class="navigate">
    <div class="product-nav">
        <div class="mob-menu">
            <img src="/Content/themes/base/images/logo.png" class="img-responsive visible-xs" alt="Image" />
            <button class="menu menu-close pull-right" type=""></button>
        </div>

        <div class="user-block-left">
            <div class="user-block-pic">
                <img src="/Content/themes/base/images/user.png" class="img-responsive" alt="Image" />
            </div>
            <div class="user-block-detail">
                <p>@User.Identity.Name</p>
                <span>EPF : @ViewBag.EPF</span>
            </div>
        </div>
        <div class="left-menu">
            <ul>
                @*<li><a href="#"><i class="att att-home menu-icons"></i>@L("LayoutNavigationHome")</a></li>*@
                <li><a href="@Url.RouteUrl("Master_default", new { controller = "QuestionPool", Action="Index" })"><i class="att att-list-alt menu-icons"></i>@L("LayoutNavigationHome")</a></li>                <li><a href="@Url.RouteUrl("Master_default", new { controller = "QuestionBank", Action="Index" })"><i class="att att-list-alt menu-icons"></i>@L("LayoutNavigationQuestionBank")</a></li>
                <li><a href="@Url.RouteUrl("Master_default", new { controller = "Exam", Action="Index" })"><i class="att att-user menu-icons"></i>@L("LayoutNavigationExamManager")</a></li>
                <li><a href="@Url.RouteUrl("Assignment_default", new { controller = "Assignment", Action="Index" })"><i class="att att-calendar menu-icons"></i>@L("LayoutNavigationScheduler")</a></li>
                <li><a href="#"><i class="att att-file-text menu-icons"></i>@L("LayoutNavigationReport")</a></li>
            </ul>
        </div>

    </div>
    <footer id="footer" class="text-center visible-xs">
        <p>
            Copyright © @DateTime.Now.Year a<span>tt</span>une. All rights reserved
        </p>
    </footer>
</div>

