﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AgileMethodDiagram.aspx.cs" Inherits="AgileMethodDiagram" masterPageFile="~/MasterPage.master" %>

<asp:Content ID="AgileDiagramPageContent" ContentPlaceHolderID="ContentPlaceHolder1" runat ="server">

          <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" class="btn tog btn-default visible-xs glyphicon glyphicon-list" id="menu-toggle"></a>
                        <div class="disc">
                            <div class="litetooltip-hotspot-wrapper hotsot-one" style="max-width: 1005px">
                                <div class="litetooltip-hotspot-container" style="padding-bottom: 51.64179104477612%">
                                <img src="images/unnamed.png" class="img-responsive" data-width="1005" data-height="519" />
                                
<%--                                <div class="hotspot" style="top: 10.789980732177264%; left: 29.45273631840796%; width: 7.064676616915423%; height: 12.33140655105973%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673472635" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="29.45273631840796" data-hotspot-y="10.789980732177264" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="ProjectBackLog"><a href="https://www.google.lk" target="_blank">&nbsp;</a></div>
                                 </div>--%>

<%--                                <div class="hotspot" style="top: 10.789980732177264%; left: 55.32338308457712%; width: 8.059701492537313%; height: 11.946050096339114%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673476690" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="55.32338308457712" data-hotspot-y="10.789980732177264" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="SprintBackLog"><a href="https://www.google.lk" target="_blank">&nbsp;</a></div>
                                </div>--%>

<%--                                <div class="hotspot" style="top: 20.809248554913296%; left: 74.32835820895522%; width: 7.36318407960199%; height: 11.368015414258188%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673482842" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="74.32835820895522" data-hotspot-y="20.809248554913296" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="SprintDemo"><a href="https://www.google.lk" target="_blank">&nbsp;</a></div>
                                </div>--%>

                                <div class="hotspot" style="top: 44.1233140655106%; left: 1.3930348258706469%; width: 7.064676616915423%; height: 10.404624277456648%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673488810" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="1.3930348258706469" data-hotspot-y="44.1233140655106" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                <div class="data-container" id="Budget"><a href="RequirementManagement.aspx">&nbsp;</a></div>
                                </div>

                                <div class="hotspot" style="top: 43.73795761078998%; left: 10.049751243781095%; width: 7.36318407960199%; height: 10.597302504816955%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673493897" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="10.049751243781095" data-hotspot-y="43.73795761078998" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                <div class="data-container" id="BRS"><a href="RequirementManagement.aspx">&nbsp;</a></div>
                                </div>

                                <div class="hotspot" style="top: 43.54527938342967%; left: 19.601990049751244%; width: 7.263681592039801%; height: 10.789980732177264%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673498527" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="19.601990049751244" data-hotspot-y="43.54527938342967" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="RequirementWorkshop"><a href="RequirementManagement.aspx">&nbsp;</a></div>
                                    <div class="data-container"></div>
                                </div>

                                <div class="hotspot" style="top: 43.93063583815029%; left: 29.054726368159205%; width: 7.064676616915423%; height: 10.404624277456648%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673507127" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="29.054726368159205" data-hotspot-y="43.93063583815029" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="SRS"><a href="RequirementAnalysis.aspx">&nbsp;</a></div>
                                    <div class="data-container"></div>
                                </div>

                                <div class="hotspot" style="top: 43.54527938342967%; left: 38.1094527363184%; width: 7.263681592039801%; height: 11.175337186897881%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673511607" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="38.1094527363184" data-hotspot-y="43.54527938342967" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">                               
                                    <div class="data-container" id="AD"><a href="ArchitectureDesign.aspx">&nbsp;</a></div>
                                </div>

                                <div class="hotspot" style="top: 43.54527938342967%; left: 47.462686567164184%; width: 7.6616915422885565%; height: 10.982658959537572%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673515015" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="47.462686567164184" data-hotspot-y="43.54527938342967" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="DD"><a href="ArchitectureDesign.aspx">&nbsp;</a></div>
                                    <div class="data-container"></div>
                                </div>

                                <div class="hotspot" style="top: 42.96724470134875%; left: 57.51243781094527%; width: 7.860696517412935%; height: 11.753371868978805%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673520934" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="57.51243781094527" data-hotspot-y="42.96724470134875" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="Development"><a href="CodingUnitTestingIntegration.aspx">&nbsp;</a></div>
                                </div>

                                <div class="hotspot" style="top: 42.96724470134875%; left: 67.16417910447761%; width: 7.462686567164178%; height: 11.368015414258188%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673524206" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="67.16417910447761" data-hotspot-y="42.96724470134875" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="DefectFixing"><a href="CodingUnitTestingIntegration.aspx">&nbsp;</a></div>
                                </div>

                                <div class="hotspot" style="top: 42.96724470134875%; left: 79.70149253731343%; width: 7.860696517412935%; height: 11.753371868978805%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673527405" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="79.70149253731343" data-hotspot-y="42.96724470134875" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="TeamTrainingMaterials"><a href="QualityAssuranceAndControl.aspx">&nbsp;</a></div>
                                    <div class="data-container"></div>
                                </div>

                                <div class="hotspot" style="top: 73.98843930635837%; left: 37.81094527363184%; width: 8.159203980099502%; height: 12.138728323699421%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673530181" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="37.81094527363184" data-hotspot-y="73.98843930635837" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="TestPlan"><a href="QualityAssuranceAndControl.aspx">&nbsp;</a></div>
                                    <div class="data-container"></div>
                                </div>

                                <div class="hotspot" style="top: 74.373795761079%; left: 57.3134328358209%; width: 7.960199004975125%; height: 11.368015414258188%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673533637" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="57.3134328358209" data-hotspot-y="74.373795761079" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="TestCases"><a href="QualityAssuranceAndControl.aspx">&nbsp;</a></div>
                                </div>

                                <div class="hotspot" style="top: 60.308285163776496%; left: 67.16417910447761%; width: 7.860696517412935%; height: 10.597302504816955%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673536301" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="67.16417910447761" data-hotspot-y="60.308285163776496" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="Testing"><a href="QualityAssuranceAndControl.aspx">&nbsp;</a></div>
                                </div>

                                <div class="hotspot" style="top: 60.308285163776496%; left: 79.50248756218905%; width: 7.761194029850746%; height: 10.404624277456648%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673539805" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="79.50248756218905" data-hotspot-y="60.308285163776496" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="UAT"><a href="QualityAssuranceAndControl.aspx">&nbsp;</a></div>
                                </div>

                                <div class="hotspot" style="top: 59.73025048169557%; left: 90.94527363184079%; width: 7.6616915422885565%; height: 11.560693641618498%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673544237" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="90.94527363184079" data-hotspot-y="59.73025048169557" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="GoLive"><a href="QualityAssuranceAndControl.aspx">&nbsp;</a></div>
                                </div>

<%--                                <div class="hotspot" style="top: 82.08092485549133%; left: 90.34825870646766%; width: 8.855721393034825%; height: 7.321772639691715%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673546860" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="90.34825870646766" data-hotspot-y="82.08092485549133" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="ProjectClosure"><a href="https://www.google.lk" target="_blank">&nbsp;</a></div>
                                </div>--%>

<%--                                <div class="hotspot" style="top: 91.13680154142581%; left: 27.164179104477608%; width: 8.955223880597014%; height: 7.129094412331407%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673553132" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="27.164179104477608" data-hotspot-y="91.13680154142581" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="CustomerApproval"><a href="https://www.google.lk" target="_blank">&nbsp;</a></div>
                                </div>--%>

<%--                                <div class="hotspot" style="top: 91.71483622350675%; left: 37.711442786069654%; width: 9.054726368159203%; height: 6.74373795761079%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673557868" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="37.711442786069654" data-hotspot-y="91.71483622350675" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="SAApproval"><a href="https://www.google.lk" target="_blank">&nbsp;</a></div>
                                </div>--%>

<%--                                <div class="hotspot" style="top: 91.90751445086705%; left: 48.656716417910445%; width: 7.36318407960199%; height: 6.358381502890173%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673561171" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="48.656716417910445" data-hotspot-y="91.90751445086705" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="SWAAproval"><a href="https://www.google.lk" target="_blank">&nbsp;</a></div>
                                </div>--%>

<%--                                <div class="hotspot" style="top: 28.32048890218569%; left: 0.5970149253731344%; width: 8.358208955223882%; height: 7.514450867052023%; background: undefined; border: 1px solid undefined; border-radius: undefinedpx; opacity: 0.8" id="hotspot_1426673566299" data-location="undefined" data-template="" data-templatename="" data-opacity="undefined" data-backcolor="undefined" data-textcolor="undefined" data-textalign="undefined" data-margin="undefined" data-padding="undefined" data-width="undefined" data-delay="undefined" data-trigger="undefined" data-issticky="undefined" data-hotspot-x="0.5970149253731344" data-hotspot-y="28.32048890218569" data-hotspot-blink="undefined" data-hotspot-bgcolor="undefined" data-hotspot-bordercolor="undefined" data-hotspot-borderradius="undefined">
                                    <div class="data-container" id="ProjectInitiation"><a href="https://www.google.lk" target="_blank">&nbsp;</a></div>
                                </div>--%>

                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

</asp:Content>