﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.Master.cs" Inherits="attune_Document_Web.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>attune Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="Css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="Css/simple-sidebar.css" rel="stylesheet">

    <!-- Site CSS -->
    <link href="Css/style.css" rel="stylesheet">

    <link href="Css/jquery.treeview.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <form id="form1" runat="server">
        <header class="header" id="header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-9 col-sm-3 col-md-2">
                                <a class="logo" href="#"><img src="images/logo.png" class="img-responsive" alt="Image"></a>
                            </div>
                            <div class="col-xs-3 col-sm-9 col-md-10 stack">
                                <div class="row">
                                    <div class="col-xs-12 text-center"><h1 class="main-tag">attune <span>I</span>mplementation <span>R</span>oadmap <span> (aIR) </span></h1></div>
                                    <%--<nav class="navbar navbar-default" role="navigation">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>
                        
<%--                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                                            <ul class="nav navbar-nav">
                                                <li class="active"><a href="#">Lorem</a></li>
                                                <li><a href="#">Lorem</a></li>
                                                <li><a href="#">Lorem</a></li>
                                                <li><a href="#">Lorem</a></li>
                                                <li><a href="#">Lorem</a></li>
                                                <li><a href="#">Lorem</a></li>
                                            </ul>
                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a href="#" class="glyphicon glyphicon-pushpin"><span>LogOut</span></a></li>
                                            </ul>
                                        </div><!-- /.navbar-collapse -->--%>

                                    <%--</nav>--%>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

        <div id="wrapper">
        
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul id="navigation">
                <li><a href="Index.aspx">Processes</a>
<%--                    <ul>
                        <li><a href="https://www.yahoo.com" target="_blank">Lorem Ipsum</a>
                            <ul>
                                <li><a href="#">Lorem Ipsum</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.youtube.com" target="_blank">Lorem Ipsum</a>
                            <ul>
                                <li><a href="#">Lorem Ipsum</a>
                                <ul>
                                    <li><a href="#">Lorem Ipsum</a></li>
                                    <li><a href="#">Lorem Ipsum</a></li>
                                    <li><a href="#">Lorem Ipsum</a></li>
                                </ul>
                            </li>
                                <li><a href="#">Lorem Ipsum</a>
                                <ul>
                                    <li><a href="#">Lorem Ipsum</a></li>
                                </ul>
                            </li>
                                <li><a href="#">Lorem Ipsum</a>
                                <ul>
                                    <li><a href="#">Lorem Ipsum</a></li>
                                    <li><a href="#">Lorem Ipsum</a></li>
                                    <li><a href="#">Lorem Ipsum</a></li>
                                </ul>
                            </li>
                            </ul>
                        </li>
                    </ul>--%>
                </li>
                <li><a href="#">Implementation Methodology</a>
                    <ul>
                        <li><a href="#">Enterprise Applications</a>
                            <ul>
                                <li><a href="ProjectPreparation.aspx">Project Preparation</a></li>
                                <li><a href="BusinessBluePrinting.aspx">Business Blueprinting</a></li>
                                <li><a href="RealizationBuild.aspx">Realization - Build</a></li>
                                <li><a href="IntegrationTestingAndUAT.aspx">Realization - Testing</a></li>
                                <li><a href="FinalPreparationAndCutover.aspx">Final Preparation and Cutover</a></li>
                                <li><a href="#">Post Go-Live Support</a></li>
                            </ul>
                        </li>
                        <%--<li><a href="#">aMR Methodology</a></li>--%>
                    </ul>
                </li>
                <li><a href="#">Development Methodology</a>
                    <ul>
                        <%--<li><a href="#">Initiation</a></li>--%>
                        
                        <li><a href="#">Requirement Management</a>
                            <ul>
                                <li><a href="RequirementAnalysis.aspx">Requiremnet Analysis</a></li>
                                <li><a href="RequirementManagement.aspx">Requirement Development</a></li>
                            </ul>
                        </li>
                        <li><a href="ArchitectureDesign.aspx">Architecture & Design</a>
                            <%--<ul>
                                <li><a href="ArchitectureDesign.aspx">Architectural Design</a></li>
                                <li><a href="#">Detail Design</a></li>
                            </ul>--%>
                        </li>                        
                        <li><a href="#">Development</a>
                            <ul>
                                <li><a href="CodingUnitTestingIntegration.aspx">Coding, Unit Testing and Integration</a></li>
                                <%--<li><a href="#">Difects Fixes</a></li>--%>
                            </ul>
                        </li>
                        <li><a href="#">Testing</a>
                            <ul>
                                <li><a href="QualityAssuranceAndControl.aspx">Quality Assurance and Control</a></li>
                                <%--<li><a href="#">Quality Assuarance - Test Cases/Scripts</a></li>--%>
                            </ul>
                        </li>
                        <li><a href="#">Reviews</a>
                            <ul>
                                <li><a href="WorkProductReview.aspx">Work Product Review</a></li>
                                <li><a href="ManagementReview.aspx">Management Review Process</a></li>
                            </ul>
                        </li>
<%--                    <li><a href="#">Deployment</a>
                            <ul>
                                <li><a href="#">Team Training Materials</a></li>
                                <li><a href="#">Unit Acceptance Testing</a></li>
                                <li><a href="#">Implementation & Support</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Closure</a></li>--%>
                    </ul>
                </li>
                <li><a href="#">Solutioning-Consulting Methodology</a>
                    <ul>

                    </ul>
                </li>
                <li><a href="#">General</a>
                    <ul>
                        <li><a href="ProcessTailoring.aspx">Process Tailoring</a></li>
                        <li><a href="MeasurementandAnalysis.aspx">Measurements and Analysis</a></li>                        
                        <li><a href="#">Project Management</a>
                            <ul>
                                <li><a href="ProjectPlanning.aspx">Project Planning</a></li>
                                <li><a href="RiskManagement.aspx">Risk Management</a></li>                                 
                                <li><a href="ProjectMonitoringAndControl.aspx">Project Monitoring & Control</a></li>                                                               
                            </ul>
                        </li>         
                        <li><a href="DecisionAnalysisResolution.aspx">Decision Analysis Resolution</a></li>                                       
                        <li><a href="ConfigurationManagement.aspx">Configuration Management</a></li>                        
                        <li><a href="ProjectClosure.aspx">Project Closure</a></li>
                        <li><a href="TrainingProcess.aspx">Training Process</a></li>                        
                        <li><a href="Policy.aspx">Organization Policy</a></li>
                        <li><a href="ProcessManagement.aspx">Process Management</a></li>                        
                        <li><a href="ProcessImprovement.aspx">Process Improvements</a></li>
                        <li><a href="#">Auditing</a>
                            <ul>                                
                                <li><a href="InternalAudit.aspx">Internal Audit</a></li>
                                <li><a href="ExternalAudit.aspx">External Audit</a></li>
                            </ul>
                        </li>
                        <li><a href="SEPGPlan.aspx">SEPG</a></li>    
                    </ul>
                </li>
            </ul>

            <footer class="text-center">
                <p>Copyright © 2015 attune Lanka (Private) Limited.</p>
                <p>All rights reserved.</p>
            </footer>
        </div>
        <!-- /#sidebar-wrapper -->

                    <!-- Page Content -->
                    <div id="page-content-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="#menu-toggle" class="btn tog btn-default visible-xs glyphicon glyphicon-list" id="menu-toggle"></a>
                                        <div>
                                            <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
                                                
                                            </asp:ContentPlaceHolder>
                                        </div>                                    

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /#page-content-wrapper -->

      </div>

        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="Scripts/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="Scripts/bootstrap.min.js"></script>
        <script src="Scripts/jquery.cookie.js" type="text/javascript"></script>
        <script src="Scripts/jquery.treeview.js" type="text/javascript"></script>
        <script type="text/javascript" src="Scripts/demo.js"></script>

    
        <!-- Menu Toggle Script -->
        <script>
           
        </script>

    </form>
</body>

</html>
