﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="aIRExamination.aspx.cs" Inherits="Examination_Portal.aIRExamination" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>aIR Examination</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
