﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="Sample.aspx.cs" Inherits="Examination_Portal.Sample" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContentPageSection" runat="server">


<%--     <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td align="center">
            <img src="images/ASPNETCookbookHeading_blue.gif">
          </td>
        </tr>
        <tr>
          <td class="dividerLine">
            <img src="images/spacer.gif" height="6" border="0"></td>
        </tr>
      </table>
      <table width="90%" align="center" border="0">
        <tr>
          <td><img src="images/spacer.gif" height="10" border="0"></td>
        </tr>
        <tr>
          <td align="center" class="PageHeading">
            DataGrid With Selection Anywhere (VB)
          </td>
        </tr>
        <tr>
          <td><img src="images/spacer.gif" height="10" border="0"></td>
        </tr>
        <tr>
          <td align="center">
                <!-- The first column defined in the Columns element is a 
                     hidden link button to provide the ability to make 
                     clicking anywhere in the row the same as clicking 
                     the link button.  See the dgProblems_ItemDataBound 
                     method in the code behind page -->
            <asp:DataGrid 
                                id="dgProblems" 
                                runat="server" 
                                BorderColor="000080" 
                                BorderWidth="2px"
                                AutoGenerateColumns="False"
                                width="100%">

                                <HeaderStyle 
                                  HorizontalAlign="Center" 
                                  ForeColor="#FFFFFF" 
                                  BackColor="#000080" 
                                  Font-Bold=true
                                  CssClass="TableHeader" /> 

                                <ItemStyle
                                  BackColor="#FFFFE0" 
                                  cssClass="TableCellNormal" />

                                <AlternatingItemStyle 
                                  BackColor="#FFFFFF" 
                                  cssClass="TableCellAlternating" />

                                <SelectedItemStyle 
                                  BackColor="#cccccc"
                                  cssClass="TableCellAlternating" />
                                

                                <Columns>
                                  <asp:ButtonColumn ButtonType="LinkButton" 
                                                    Visible="False" 
                                                    CommandName="Select" />
                                  <asp:BoundColumn HeaderText="Title" 
                                                   DataField="Title" 
                                                   ItemStyle-HorizontalAlign="Left" />
                                  <asp:BoundColumn HeaderText="Publish Date" 
                                                   DataField="PublishDate" 
                                                   ItemStyle-HorizontalAlign="Center" 
                                                   DataFormatString="{0:MMM dd, yyyy}"/>
                                  <asp:BoundColumn HeaderText="List Price" 
                                                   DataField="ListPrice" 
                                                   ItemStyle-HorizontalAlign="Center" 
                                                   DataFormatString="{0:C2}"/>
                                </Columns>
                                

                              </asp:DataGrid>
          </td>
        </tr>
        <tr>
          <td><img src="images/spacer.gif" height="10" border="0"></td>
        </tr>
        <tr>
          <td align="center">
            <table width="100%">
              <tr>
                <td width="18%">&nbsp;</td>
                <td width="15%" align="center">
                  <asp:ImageButton id="btnAdd" runat="server" 
                       ImageUrl="images/buttons/button_add.gif" /></td>
                <td width="10%">&nbsp;</td>
                <td width="15%" align="center">
                  <asp:ImageButton id="btnEdit" runat="server" 
                       ImageUrl="images/buttons/button_edit.gif" /></td>
                <td width="10%">&nbsp;</td>
                <td width="15%" align="center">
                  <asp:ImageButton id="btnDelete" runat="server" 
                       ImageUrl="images/buttons/button_delete.gif" /></td>
                <td width="17%">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>--%>
</asp:Content>
