﻿@model attune.Exam.Web.Areas.Master.Models.Exam.QuestionSelectionView



    <div id="divQsBank" class="ab_grid">
        @(Html.Kendo().Grid(Model.QuestionSelectionGridView.DataSource)
              .Name("questionSelectionGrid")
              .Columns(columns =>
                       {
                           columns.Template(@<text></text>).ClientTemplate("<input data-index='#= Index #' type='checkbox' class='chkList' # if (IsSelected == true){#" + "checked=checked" + "# } #/>").Width(22)
                               .HeaderTemplate("<input type='checkbox' id='chkAll'></input>");
                           columns.Bound(x => x.Id).Width(80);
                           columns.Bound(x => x.Question);
                           
                       })
                               .Pageable(pager => pager
                                          .Input(Model.QuestionSelectionGridView.PagerView.Input)
                                          .Numeric(Model.QuestionSelectionGridView.PagerView.Numeric)
                                          .Info(Model.QuestionSelectionGridView.PagerView.Info)
                                          .PreviousNext(Model.QuestionSelectionGridView.PagerView.PreviousNext)
                                  .PageSizes(Model.QuestionSelectionGridView.PagerView.PageSizes)
                                      )
                                      .Sortable(x => x.Enabled(false))
                                      .Scrollable(x => x.Height("auto"))
                                                      .Events(x => x.DataBound("Exam.Handlers.ExamManager.Questions.onDataBound"))
                                      .DataSource(dataSource => dataSource
                                          .Ajax().ServerOperation(false)
                                          .Model(model =>
                                                 {
                                                     model.Id(p => p.Id);
                                                 })
                                                          .PageSize(10)
                                                          .Read(read => read.Action("OnExamCategoryQuestionRead", "Exam").Data("Exam.Handlers.ExamManager.Questions.getQuestionSelectionGridParameters").Type(HttpVerbs.Get))
                                      ))

        <div class="button_row">
            <button id="btnAssign" class="default_btn green_btn att att-mail-forward (alias)"><span class="btn_text">@L("MasterExamButtonAssign")</span></button>
        </div>
    </div>

