﻿@using attune.Exam.Web.Areas.Master.Models.Exam
@model attune.Exam.Web.Areas.Master.Models.Exam.CreateExamView
@{
    ViewBag.Title = @L("MasterExamCreationTitle");
}

@using (Html.BeginForm())
{
    <div class="employ-filters up-lvl show" id="sticky">
        <div class="box">
            <div class="col-xs-6 req">
                @Html.LabelFor(x => x.ExamTypeId)
                @Html.EditorFor(x => x.ExamTypeId)
            </div>
            <div class="col-xs-6 req">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { placeholder = @L("MasterExamLabelExamName") })
            </div>
            <div class="col-xs-6 clearfix2 req">
                @Html.LabelFor(x => x.DifficultLevel)
                @Html.EditorFor(x => x.DifficultLevel)
            </div>
            <div class="col-xs-6 req">
                @Html.LabelFor(x => x.IsManualPick)
                @Html.EditorFor(x => x.IsManualPick)
            </div>
            <div class="col-xs-6 clearfix2 req">
                @Html.LabelFor(x => x.ResultFormatTypeId)
                @Html.EditorFor(x => x.ResultFormatTypeId)
            </div>
            <div class="col-xs-6 req">
                @Html.LabelFor(x => x.Duration)
                @Html.TextBoxFor(x => x.Duration, new { placeholder = @L("MasterExamLabelDuration") })
            </div>
            <div class="col-xs-6 clearfix2 req">
                @Html.LabelFor(x => x.PassScore)
                @Html.TextBoxFor(x => x.PassScore, new { placeholder = @L("MasterExamLabelPassMarks") })
            </div>
            <div class="col-xs-6">
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description, new { rows = 2, cols = 35, placeholder = @L("MasterExamLabelExamDescription") })
            </div>
        </div>
    </div>


    <div class="middle_section">
        <div id="divQsBank" class="ab_grid">
            @(Html.Kendo().Grid(Model.QuestionCategories)
                  .Name("gridQuestionCategory")
                  .Columns(columns =>
                           {
                               columns.Bound(p => p.Id).Hidden(true);
                               columns.Bound(p => p.CategoryId).ClientTemplate("#= CategoryId.Value #").Width(150).Title(@L("MasterExamGridHeaderCategory").Text);
                               columns.Bound(p => p.DifficultLevelId).ClientTemplate("#= DifficultLevelId.Value #").Width(150).Title(@L("MasterExamGridHeaderDifficultLevel").Text);
                               columns.Bound(p => p.CountValue).Width(80);
                               columns.Bound(p => p.Id).ClientTemplate("<button class='no_bg blue_icon hover_disable_blue' id='editCategory' data-mode='edit' rowId='#=Id#'><i class='att att-edit (alias)'></i></button>").Title("").Width(20);
                               columns.Bound(p => p.Id).ClientTemplate("<button class='no_bg orange_icon' id='viewCategory' data-mode='view' rowId='#=Id#'><i class='att att-eye'></i></button>").Title("").Width(20);
                               columns.Bound(p => p.Id).ClientTemplate("<button class='no_bg red_icon' data-mode='delete' rowId='#=Id#'><i class='att att-times-circle'></i></button>").Title("").Width(20);
                               //columns.Command(command => command.Destroy()).Width(20);

                           })
                  .Editable(x =>
                            {
                                x.Mode(GridEditMode.InCell);
                            })
                  .Events(x =>
                          {
                              x.Edit("Exam.Handlers.ExamManager.onEditCategory");
                              x.DataBound("Exam.Handlers.ExamManager.onDataBoundCategory");
                          }).Scrollable(x => x.Height("100px"))
                .ToolBar(toolBar =>
                 {
                     toolBar.Template(@<text>
                        <a href="#" class="default_btn green_btn k-button k-button-icontext att att-plus" id="aRowAdd"><span class="btn_text">@L("MasterExamButtonAdd").ToString()</span></a>
                    </text>);
                 })

                                                                                                  .DataSource(dataSource => dataSource
                                                                                                      .Ajax()
                                                                                                      .Batch(true)
                                                                                                      .PageSize(10)
                                                                                                      .ServerOperation(false)
                                                                                                      .Model(model =>
                                                                                                      {
                                                                                                          model.Id(p => p.Id);
                                                                                                          model.Field(x => x.DifficultLevelId).DefaultValue(new KeyValuePair<string, string>("1", "Beginner"));
                                                                                                          model.Field(x => x.CategoryId).DefaultValue(new KeyValuePair<string, string>("", @L("MasterQuestionBankDropDownCategoryOptionLabel").Text.ToString()));
                                                                                                          model.Field(x => x.Id).Editable(false);
                                                                                                      })


                                                                                                    )
            )
        </div>
    </div>

    <div class="button_row">
        <button id="btnCreate" class="default_btn green_btn att att-plus"><span class="btn_text">@L("MasterQuestionBankButtonCreate")</span></button>
    </div>

    @Html.HiddenFor(x => x.QuestionCategoryString)
}


<div id="selection">
    @(Html.Kendo().Window()
                .Name("questionSelectionPopup")
                .Title(@L("MasterExamPopupTitleSelectQuestion").Text)
        .Modal(true)
        .Draggable()
        .Visible(false)
        .Width(700)
          .Actions(x => x.Close())
            // .Height(400)
    )
</div>

