﻿@model attune.Exam.Web.Areas.Master.Models.Exam.ExamView
@{
    ViewBag.Title = @L("LayoutNavigationExamManager");

}

@using (Html.BeginForm())
{

    <div class="employ-filters up-lvl show" id="sticky">
        <p>Filter: <i class="att att-caret-down"></i></p>
        <div class="box">
            <div class="col-xs-6 col-sm-3 req">
                @Html.EditorFor(x => x.FilterView.ExamTypeId)
            </div>
            <div class="col-xs-6 col-sm-3 mode_wrap">
                @Html.EditorFor(x => x.FilterView.ExamId)
                <button type="button" class="default_btn green_btn att att-search" id="btnGo"></button>
            </div>
            
        </div>
    </div>

}

<div class="middle_section">
    <div id="divQsBank" class="ab_grid">
        @(Html.Kendo().Grid(Model.GridView.DataSource)
          .Name("grdExamManager")
          .Columns(columns =>
                   {
                       columns.Bound(p => p.Id).ClientTemplate("<a class='blue_icon hover_disable_blue' href='" + Url.Action("Edit", "Exam", new { Id = "#=Id#" }) + "' data-mode='edit' ><i class='att att-edit (alias)'></i></a>").Title("").Width(15).Sortable(false);
                       columns.Bound(p => p.Id).ClientTemplate("<button class='no_bg red_icon' data-mode='deactivate' rowId='#=Id#'><i class='att att-times-circle'></i></button>").Title("").Width(25).Sortable(false);
                       columns.Bound(p => p.Id).Hidden(true);
                       columns.Bound(p => p.ExamType.Name).Sortable(true).Title(@L("MasterExamGridHeaderExamType").ToString()).Width(130);
                       columns.Bound(p => p.Name).Sortable(true).Title(@L("MasterExamGridHeaderExamName").ToString()).Width(130);
                       columns.Bound(p => p.DifficultLevelId).Sortable(true).Title(@L("MasterExamGridHeaderDifficultLevel").ToString()).Width(130);

                   })
                  .Events(x =>
                          {
                              x.DataBound("Exam.Handlers.ExamManager.onDataBound");
                          })
          .Pageable(pager => pager
              .Input(Model.GridView.PagerView.Input)
              .Numeric(Model.GridView.PagerView.Numeric)
              .Info(Model.GridView.PagerView.Info)
              .PreviousNext(Model.GridView.PagerView.PreviousNext)
              .Refresh(Model.GridView.PagerView.Refresh)
              .PageSizes(Model.GridView.PagerView.PageSizes)
          )
          .ToolBar(toolBar =>
                   {
                      toolBar.Template(@<text>
                        <a href="@Url.Action("Create", "Exam")" class="default_btn green_btn k-button k-button-icontext att att-plus"><span class="btn_text">@L("MasterExamButtonAdd").ToString()</span></a>
                       </text>);
                   })
                                  .Sortable(x => x.Enabled(true))
                                  .AutoBind(false)
                                  .Scrollable(x => x.Height("auto"))
                                  .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                                  .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .ServerOperation(false)
                                      .Model(model =>
                                             {
                                                 model.Id(p => p.Id);
                                             })
                                      .PageSize(10)
                                              .Read(read => read.Action("OnExamManagerGridRead", "Exam").Data("Exam.Handlers.ExamManager.getGridParameters"))

                                  )
        )
    </div>
</div>