﻿@model attune.Exam.Web.Areas.Admin.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>attune User Management</title>
    @Styles.Render("~/Content/plugins/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/themes/common/fonts/css")
    <!-- Google Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700" rel="stylesheet" type="text/css"> -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- #Login wrapper -->
    <div class="logo">
        <img src="~/Content/themes/base/images/attune2.png" class="img-responsive" alt="Image">
    </div>
    <div id="loging-page">
        <div class="log-box" onclick="">
            <h1>Welcome</h1>
            @using (Html.BeginForm("Index", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="right-inner-addon">
                    <i class="att att-user"></i>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username or Email" })
                    @Html.ValidationMessageFor(x => x.UserName)
                </div>
                <div class="right-inner-addon">
                    <i class="att att-key"></i>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                <div class="right-inner-addon no-border">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            Remember me
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Login</button>
                <a href="@Url.Action("ForgotPassword","Account",new {area="Admin"})">Forgot Password</a>
                <a href="@Url.Action("ExternalLogin", "Account", new { area = "Admin",provider="Facebook", returnUrl = ViewBag.ReturnUrl })">Login with Facebook</a>
                <a href="@Url.Action("ExternalLogin", "Account", new { area = "Admin",provider="Google", returnUrl = ViewBag.ReturnUrl })">Login with Google</a>

            }
        </div>
    </div>
    <!-- #Login wrapper -->
    <!-- Footer -->
    <footer class="footer-log">Copyright © 2016 attune. All rights reserved</footer>
    <!-- Footer -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/plugins")
    <script>

    </script>
</body>
</html>
