﻿@model attune.Exam.Web.Areas.Admin.Models.TwoFactorConfirmViewModel
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>attune User Management</title>
        @Styles.Render("~/Content/bootstrap/css")
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/fonts/css")
        <!-- Google Fonts -->
        <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700" rel="stylesheet" type="text/css"> -->
        <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <!-- #Login wrapper -->
        <div class="logo">
            <img src="~/Content/themes/base/images/attune2.png" class="img-responsive" alt="Image">
        </div>
        <div id="loging-page">
            <div class="log-box" onclick="">
                <h1>Two factor verification</h1>
                @using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.RememberMe)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="right-inner-addon">
                        <i class="att att-key"></i>

                        @Html.PasswordFor(m => m.Code, new { @class = "form-control", placeholder = "Verification code" })
                        @Html.ValidationMessageFor(m => m.Code)
                    </div>

                    <button type="submit" class="btn btn-default">Verify</button>

                }

            </div>
        </div>
        <!-- #Login wrapper -->
        <!-- Footer -->
        <footer class="footer-log">Copyright © 2016 attune. All rights reserved</footer>
        <!-- Footer -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        <script>

        </script>
    </body>
</html>
