
h1 {
    margin: 0;
    float: left;
    width: 100%;
    font-size: 25px;
    color: #f9ab38;
    /*text-shadow: 1px 2px 1px #e5e5e5;*/
}
h2 {
    margin: 20px 0 15px 0;
    float: left;
    width: 100%;
    font-size: 20px;
    color: #f9ab38;
    text-shadow: 1px 2px 1px #e5e5e5;
}
h3 {
    margin: 20px 0 15px 0;
    float: left;
    width: 100%;
    font-size: 18px;
    color: #f9ab38;
}
h4 {
    margin: 20px 0 15px 0;
    float: left;
    width: 100%;
    font-size: 16px;
    color: #f9ab38;
    text-shadow: 1px 2px 1px #e5e5e5;
}
.disc {
    float: left;
    width: 100%;
    padding: 0;
}
.disc p {
    float: left;
    width: 100%;
    font-size: 12px;
    padding: 0 0 10px 0;
    color: #939393;
    text-align: justify;
    margin: 0px;
}
.disc p a {
    color: #f9ab38;
    text-decoration: underline;
    font-weight: bold;
}
.disc p strong {
    font-size: 16px;
    font-weight: 500;
}

.table-data-sep {
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
    color: #939393;
}
.table-data-sep thead {
    background: #7d7d7d;
    color: #fff;
    font-weight: 500;
}
.table-data-sep tr:hover {
    background: none !important;
}
.table-data-sep tr td:hover {
    background: #eee;
}
.table-data {
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
}
.table-data .loop {
    background: #f3f3f3 !important;
}
.table-data tr {
    font-weight: 300 !important;
}
.table-data tr td:hover {
    background: #aaaaaa !important;
    color: #fff;
}
.table-data thead {
    background: #7d7d7d;
    color: #fff;
    font-weight: 500;
}

.act-link {
    background: #FFF;
    color: #f9ab38 !important;
    font-weight: bold;
}

table{ 
    border: 1px solid #DDDDDD;
height: 55px; 
    width: 714px; 
    position: relative; 
    background-color: #FFFFFF; 
    border-radius: 0px;
    left: -30px;
    top: 0px;
} 
table:before{ 
    content: ""; 
    z-index: -1; 
    position: absolute; 
    width: 50%; 
    top: 160px; 
    bottom: 25px; 
    left: 10px; 
    -webkit-transform: rotate(-3deg); 
    transform: rotate(-3deg); 
   /* box-shadow: 0px 15px 10px #777777;*/ 
} 
table:after{ 
    content: ""; 
    z-index: -1; 
    position: absolute; 
    width: 50%; 
    top: 160px; 
    right: 10px; 
    bottom: 25px; 
    -webkit-transform: rotate(3deg); 
    transform: rotate(3deg); 
    /*box-shadow: 0px 15px 10px #777777; */
}


.comm-radius {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.7);
    float: left;
    width: 100%;
    padding: 0 20px 15px 20px;
    min-height: 210px;
    margin-bottom: 30px;
    border-radius: 5px 30px 5px;
}
.comm-radius:hover {
    box-shadow: 0px 0px 18px -4px #666;
    
}
.comm-radius p {
    margin-top: 0px !important;
    float: left;
    width: 100%;
}
.comm-radius h3 {
    margin-top: 0px !important;
    float: left;
    width: 100%;
}
.comm-radius ul {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px 0px 0px 15px;
}
.comm-radius ul li {
    float: left;
    width: 100%;
    list-style-type: circle;
    color: #FFF;
}
.comm-radius ul li a {
    color: #FFF;
    text-decoration: none;
}

.Space label
{
   margin-left: 20px;
   /*margin-right: 20px;*/
   font-weight: normal !important;
}

.ScrollStyle scroll
{
    max-height: 800px;
    overflow-y: auto;
}

.Qheader {padding:10px 0 10px 0; float:left; width:100%; border-bottom:2px solid #fbb041; background:#eee;}
.Qheader .txt {float:left; color:#fbb041; font-size:24px; font-weight:bold; margin:10px 0 0 10px;}

.Qlist_area {
    /*overflow: auto;
    float: left;
    width: 100%;
    /*height: 700px;*/

  float:left;
  height:600px;
  overflow-x:auto;
  overflow-y:scroll;
  width:100%;
}

.areaQuestion {
    float: left;
    padding: 10px !important;
    width: 100%;
}
.areaQuestion .areaQuestionIn {
    float: left;
    padding: 7px !important;
    width: 100%;
}
.areaQuestion .areaQuestionIn span {
    float: left;
    width: 100%;
}
.areaQuestion .areaQuestionIn span input {
    float: left;
}
.areaQuestion .areaQuestionIn span label {
    float: left;
    width: 94%;
}
.Space label {
    font-weight: normal !important;
    margin-left: 9px;
}
.tab-content {
    float: left;
    padding: 10px !important;
    width: 100%;
}
.logo img {
    margin: 14px !important;
    width: 100px !important;
}
.leftNav {
    float: left !important;
    margin-left: 0 !important;
    margin-top: 6px !important;
    width: 100% !important;
}

.Qlist_area #MainContentPageSection_ButtonSubmit {
    border: none;
    background: #f9ab38;
    color: #FFF;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
}
.innerSectiontop .btn-default {
    border: none;
    background: #f9ab38;
    color: #FFF;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
}
.Qlist_area #MainContentPageSection_ButtonSubmit:focus {
    border: none;
    background: #f9ab38;
    color: #FFF;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
}
.innerSectiontop .btn-default:focus {
    border: none;
    background: #f9ab38;
    color: #FFF;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
}
.Qlist_area .tab-content input {
    margin-top: 30px;
    margin-bottom: 30px;
}

* {
    font-family: "open_sansregular";
}
.result p {
    float: left !important;
    width: 100% !important;
    color: #37404f !important;
    font-family: "open_sansregular" !important;
    font-size: 15px !important;
}
.result p span {
    color: #37404f;
    font-family: "open_sansregular" !important;
    font-size: 15px !important;
    font-weight: normal !important;
}

#MainContentPageSection_Greeting {
    float: left;
    margin-top: 15px !important;
}


.lock {
    

    background-color: rgba(52,66,90, 0.8);
    background: rgba(52,66,90, 0.8);
    color: rgba(52,66,90, 0.8);


    height: 170px;
    position: absolute;
    width: 270px;
    z-index: 100;
}

.areaButton {
    float: left;
    padding: 0 20px 20px 0;
    width: 100px;
}

#MainContentPageSection_Table1:before {
    box-shadow: none !important;
}

#MainContentPageSection_Table1:after {
    box-shadow: none !important;
}

#MainContentPageSection_UserDetailGrid tr:hover {
    background:#ffd18b !important;
}

#MainContentPageSection_CalendarFinalDate table {
    height: 15px !important;
    left: 0  !important;
    background-color:#990000 !important;
    border:1px solid #990000 !important;
}


.areaLeft {
    float: left;
    padding: 0 10px 10px 0;
    width: 50%;
}

.areaRight {
    float: right;
    padding: 0 0px 0px 0;
    width: 50%;
}

.grid_style tr td table {
    left:0px !important;  
    height:31px !important;
    background-color:transparent !important;
    width:525px !important;
}

.tab-content > div > table {
    width:100% !important;
    left:55px;
}