body{background:#FFF none repeat scroll 0 0; font-family: 'open_sansregular';}

@font-face {font-family: 'icomoon'; src:url('../fonts/icomoon.eot?gi72zr'); src:url('../fonts/icomoon.eot?#iefixgi72zr') format('embedded-opentype'), url('../fonts/icomoon.ttf?gi72zr') format('truetype'), url('../fonts/icomoon.woff?gi72zr') format('woff'), url('../fonts/icomoon.svg?gi72zr#icomoon') format('svg'); font-weight: normal;font-style: normal;}

[class^="icon-"], [class*=" icon-"] {font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1;
-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}

.icon-arrow487:before {content: "\e600";}
.icon-clock104:before {content: "\e601";}
.icon-clock125:before {content: "\e602";}
.icon-computermonitor14:before {content: "\e603";}
.icon-envelope4:before {content: "\e604";}
.icon-letter121:before {content: "\e605";}
.icon-loudspeaker34:before {content: "\e606";}
.icon-monthly5:before {content: "\e607";}
.icon-more10:before {content: "\e608";}
.icon-notifications:before {content: "\e609";}
.icon-padlock71:before {content: "\e60a";}
.icon-profile7:before {content: "\e60b";}
.icon-sun93:before {content: "\e60c";}

@font-face { font-family: 'open_sansbold'; src: url('../fonts/opensans-bold-webfont.eot'); src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold-webfont.ttf') format('truetype'), url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg'); font-weight: normal; font-style: normal;}

@font-face { font-family: 'open_sanslight'; src: url('../fonts/opensans-light-webfont.eot'); src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg'); font-weight: normal; font-style: normal;}

@font-face { font-family: 'open_sansregular'; src: url('../fonts/opensans-regular-webfont.eot'); src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg'); font-weight: normal; font-style: normal;}

@font-face { font-family: 'open_sanssemibold'; src: url('../fonts/opensans-semibold-webfont.eot'); src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans-semibold-webfont.ttf') format('truetype'), url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg'); font-weight: normal; font-style: normal;}

.header-row{width:100%; height:65px; position:fixed; top:0; box-shadow:0 -6px 11px 4px #dcdcdc; z-index:9999; background:#fff;}
.logo{width:20%; float:left;}
.logo img{ width:160px; margin-left:8px;}
.header-rightSection{float:right;}
.headerUpdates{float: left; padding-bottom: 22px; padding-top: 20px; }

.calender{font-family: 'open_sanslight'; color:#6c7a89; float:left; padding-right:16px;}
.calender span{ font-size:11px; padding-left:4px;}

.clock{font-family: 'open_sanslight'; color:#6c7a89; float:left; padding-right:16px;}
.clock span{ font-size:11px; padding-left:4px;}

.weather{font-family: 'open_sanslight'; color:#6c7a89; float:left; padding-right:16px; display:none;}
.weather span{ font-size:11px; padding-left:4px;}

.header-notification{width:66px; border-left:#d3dbdd 1px solid; border-right:#d3dbdd 1px solid; height:40px; float:right; margin-top:12px; padding-left:12px; padding-right:12px; padding-top:10px; margin-right:12px;}
.h-notifi-count{width:22px; height:14px; background:#faaf40; border-radius:22px; float:right; text-align:center; font-family: 'open_sansregular'; font-size:10px; color:#fff; margin-top:2px; margin-left:4px;}

.userProfileSection{ float:right; margin-top:12px;}
.userProfile-IMG img{width:36px;}
.userProfile-IMG {float:left;}
.userName{font-family: 'open_sansregular'; font-size:11px; float:left;}

/**USER MENU SECTION******/

#usermenu,#usermenu ul,#usermenu ul li,#usermenu ul li a,#usermenu #menu-button { margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; display: block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#usermenu:after,#usermenu > ul:after {  content: ".";  display: block;  clear: both;  visibility: hidden;  line-height: 0;  height: 0;}
#usermenu #menu-button {  display: none;}
#usermenu { width: auto; font-family: 'Open Sans', Helvetica, sans-serif; }
#usermenu > ul { }
#usermenu.align-right > ul > li { float: right;}
#usermenu > ul > li { float: left; display: inline-block;}
#usermenu.align-center > ul { float: none;  text-align: center;}
#usermenu.align-center > ul > li { float: none;}
#usermenu.align-center ul ul {  text-align: left;}
#usermenu > ul > li > a { padding: 13px 14px; border-right: 1px solid rgba(80, 80, 80, 0.12); text-decoration: none; font-size: 12px; color: #333; }
#usermenu > ul > li:hover > a,#usermenu > ul > li > a:hover,#usermenu > ul > li.active > a {  color: #333;  }
#usermenu > ul > li.has-sub > a {  padding-right: 45px;}
#usermenu > ul > li.has-sub > a::after {  content: "";  position: absolute;  width: 0;  height: 0;  border: 6px solid transparent;  border-top-color: #d3eced;  right: 17px;  top: 17px; display:none;}
#usermenu > ul > li.has-sub.active > a::after,#usermenu > ul > li.has-sub:hover > a {  border-top-color: #333;}
#usermenu ul ul {  position: absolute;  left: -9999px;  top: 29px !important;  padding-top: 6px;  font-size: 13px;  opacity: 0; -webkit-transition: top 0.2s ease, opacity 0.2s ease-in; -moz-transition: top 0.2s ease, opacity 0.2s ease-in; -ms-transition: top 0.2s ease, opacity 0.2s ease-in; -o-transition: top 0.2s ease, opacity 0.2s ease-in; transition: top 0.2s ease, opacity 0.2s ease-in; z-index:9999 !important}
#usermenu.align-right ul ul { text-align: right;}
#usermenu > ul > li > ul::after { content: ""; position: absolute; width: 0; height: 0; border: 5px solid transparent; border-bottom-color: #ffffff; top: -4px left: 20px; display:none;}
#usermenu.align-right > ul > li > ul::after {  left: auto;  right: 20px;}
#usermenu ul ul ul::after { content: ""; position: absolute; width: 0; height: 0; border: 5px solid transparent; border-right-color: #ffffff; top: 11px;zzzz left: -4px;}
#usermenu.align-right ul ul ul::after { border-right-color: transparent; border-left-color: #ffffff; left: auto; right: -4px;}
#usermenu > ul > li > ul { top: 120px; margin-left:-58px;}
#usermenu > ul > li:hover > ul { top: 52px; left: 0; opacity: 1;}
#usermenu.align-right > ul > li:hover > ul { left: auto; right: 0;}
#usermenu ul ul ul { padding-top: 0; padding-left: 6px;}
#usermenu.align-right ul ul ul { padding-right: 6px;}
#usermenu ul ul > li:hover > ul { left: 180px; top: 0; opacity: 1;}
#usermenu.align-right ul ul > li:hover > ul {  left: auto; right: 100%; opacity: 1;}
#usermenu ul ul li a { text-decoration: none; font-weight: 400; padding: 11px 25px; width: 180px; color: #777777; background: #ffffff; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);}
#usermenu ul ul li:hover > a,#usermenu ul ul li.active > a { color: #333333;}
#usermenu ul ul li:first-child > a { border-top-left-radius: 3px; border-top-right-radius: 3px;}
#usermenu ul ul li:last-child > a { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;}
#usermenu > ul > li > ul::after { position: absolute display: block;}
#usermenu ul ul li.has-sub > a::after { content: ""; position: absolute; width: 0; height: 0; border: 4px solid transparent; border-left-color: #777777; right: 17px; top: 14px;}
#usermenu.align-right ul ul li.has-sub > a::after { border-left-color: transparent; border-right-color: #777777; right: auto; left: 17px;}
#usermenu ul ul li.has-sub.active > a::after,#usermenu ul ul li.has-sub:hover > a::after {border-left-color: #333333;}
#usermenu.align-right ul ul li.has-sub.active > a::after,#usermenu.align-right ul ul li.has-sub:hover > a::after { border-right-color: #333333; border-left-color: transparent;}

.rightmenu-block{width:50px; float:right; height:60px; margin-right:12px;}
.moreicons{float: left; font-size: 18px; padding:22px 14px 14px;}


.mainContentArea{margin-top:65px;}
.leftPanel, .rightPanel {position: absolute; top: 0; bottom: 0;}
.leftPanel {
    background: #34425a none repeat scroll 0 0;
    left: 0;
    position: fixed;
    width: 270px;
    top: 65px;
}
.rightPanel { left: 270px; right: 0; }

.attuneProcesses-col{width:270px; background:#faaf40; float:left; text-align:center; padding:22px; padding-bottom:32px; padding-top:32px;}
.attpros-icon{color:#fff; font-size:32px;}
.attpros-textarea{width:226px; float:left; text-align:center; color:#fff; font-family: 'open_sansregular'; font-size:16px; padding-top:6px;}

.leftNav{width:254px; float:left; margin-left:8px; margin-top:6px;}
#leftNav,#leftNav ul,#leftNav ul li,#leftNav ul li a {  margin: 0;  padding: 0;  border: 0;  list-style: none;  line-height: 1;  display: block;  position: relative;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;}
#leftNav { font-family: Helvetica, Arial, sans-serif;  color: #ffffff;}
#leftNav ul ul {  display: none;}
.align-right {  float: right;}
#leftNav > ul > li > a { padding: 15px 20px;cursor: pointer; z-index: 2; font-family: 'open_sansregular'; font-size: 11px;  text-decoration: none; color: #ffffff; padding-left:32px; border-bottom:1px solid #50668d; }
#leftNav > ul > li > a:hover,#leftNav > ul > li.active > a,#leftNav > ul > li.open > a { color: #758cb4; }
#leftNav > ul > li.open > a { border-bottom: 1px solid #50668d; color:#fff !important}
#leftNav > ul > li:last-child > a,#leftNav > ul > li.last > a {  /*border-bottom: 1px solid #50668d;*/}
.holder { width: 0; height: 0; position: absolute; top: 0; right: 0;}
.holder::after,.holder::before {display: block; position: absolute; content: ""; width: 6px; height: 6px; right: 20px; z-index: 10;  -webkit-transform: rotate(-135deg);  -moz-transform: rotate(-135deg);  -ms-transform: rotate(-135deg);  -o-transform: rotate(-135deg);  transform: rotate(-135deg);}
.holder::after { top: 17px; border-top: 2px solid #ffffff; border-left: 2px solid #ffffff;}
#leftNav > ul > li > a:hover > span::after,#leftNav > ul > li.active > a > span::after,#leftNav > ul > li.open > a > span::after { border-color: #eeeeee;}
.holder::before { top: 18px; border-top: 2px solid; border-left: 2px solid; border-top-color: inherit; border-left-color: inherit;}
#leftNav ul ul li a {cursor: pointer;  padding: 10px 20px; z-index: 1; text-decoration: none; font-size: 11px; color: #eeeeee; font-family: 'open_sansregular';}
#leftNav ul ul li:hover > a,#leftNav ul ul li.open > a,
#leftNav ul ul li.active > a {  color: #ffffff; background:#303e55;}
#leftNav ul ul li:first-child > a { box-shadow: none;}
#leftNav ul ul ul li:first-child > a { /*box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);*/}
#leftNav ul ul ul li a { padding-left: 30px;}
#leftNav > ul > li > ul > li:last-child > a,#leftNav > ul > li > ul > li.last > a {  border-bottom: 0;}
#leftNav > ul > li > ul > li.open:last-child > a,#leftNav > ul > li > ul > li.last.open > a { /* border-bottom: 1px solid #32373e;*/}
#leftNav > ul > li > ul > li.open:last-child > ul > li:last-child > a { border-bottom: 0;}
#leftNav ul ul li.has-sub > a::after { display: block; position: absolute; content: ""; width: 5px; height: 5px; right: 20px; z-index: 10; top: 11.5px; border-top: 2px solid #eeeeee;  border-left: 2px solid #eeeeee;  -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg);  -ms-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg); box-sizing:content-box !important}
#leftNav ul ul li.active > a::after,#leftNav ul ul li.open > a::after,#leftNav ul ul li > a:hover::after { border-color: #ffffff;}
.leftNavicon{ font-size: 14px; margin-left: -20px; position: absolute;}
.att-Icons{font-size: 5px; margin-left: -2px; padding-top: 3px; position: absolute;}
.subSpan{ padding-left:8px;}


.rightSectiontop{width:100%; float:left; background:#ecf0f1; min-height:128px; padding:20px;}
.rightSectiontop h2{font-family: 'open_sansregular'; font-size:15px; color:#37404f; margin-top:8px;}
.rightSectiontop p{font-family: 'open_sanslight'; font-size:13px; color:#37404f; }

.rightBackground{width:100%; float:left; background:url(../images/background.png) no-repeat right top; background-size:100%; line-height:11px;}

.section {clear: both;padding: 0px;margin: 0px;}
.col {display: block;float:left;margin: 0;}
.col:first-child { margin-left: 0; }
.group:before,.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; }
.span_2_of_2 {width: 100%;}
.span_1_of_2 {width: 50%;}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

.col-box-1{height:100%; border-right:1px solid #d0d8da; border-bottom:1px solid #d0d8da;}
.col-box-2{height:100%; border-bottom:1px solid #d0d8da;}
.col-box-3{height:100%; border-right:1px solid #d0d8da;}
.col-box-4{height:100%;}

.col-content-block-1{width:100px; height:328px; background:#C30;}

.colbox-cont{font-size:13px; font-family: 'open_sansregular'; color:#fff;}
.colbox-cont a{color:#fff !important;}
.colbox-cont a:hover{color:#fff !important;}

.navbar .sb-toggle-right {
}

.sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
	cursor: pointer;
}

.sb-right {
	margin-top: 0;
}


.sb-slidebar {background-color: #222222; color: #e8e8e8;}
.sb-slidebar a {color: #FF3971;text-decoration: none;}
.sb-slidebar a:hover {color: #E83165; text-decoration: underline;}
.sb-menu { padding: 0;margin: 0;list-style-type: none;}
.sb-menu li {width: 100%;padding: 0;margin: 0;border-top: 1px solid rgba(255, 255, 255, 0.1); border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.sb-menu > li:first-child {border-top: none; }
.sb-menu > li:last-child {border-bottom: none;}
.sb-menu li a {width: 100%; display: inline-block;padding: 1em; color: #f2f2f2;}
.sb-menu li a:hover {text-decoration: none;background-color: rgba(255, 255, 255, 0.05); }
.sb-left .sb-menu li a {border-left: 3px solid transparent;}
.sb-left .sb-menu li a:hover {border-left: 3px solid; }
.sb-right .sb-menu li a {border-right: 3px solid transparent;}
.sb-right .sb-menu li a:hover {border-right: 3px solid;}
.sb-menu li .sb-open-right, .sb-menu li small {display: inline-block;padding: 14px;}
.sb-menu li img {margin: 14px;}
aside#about-me {padding: 14px 14px 14px 14px;}
img.img-me {margin: 14px auto;border: 4px solid #fff;}
.sb-slidebar, .sb-slidebar h3 {color: #F0F0F0;}
.sb-slidebar ul.sb-nav li a {color: #DEDEDE;}
.sb-slidebar ul.sb-nav li a:hover {color: #C7C7C7;text-decoration: none;}
.sb-slidebar ul.sb-nav li span:hover {color: #C7C7C7;}


.notifi-head{text-align:center; padding-top:34px; padding-bottom:0;}
.notofi-icon{color:#faaf40; font-size:30px; }
.notifi-title{text-align:center;font-family: 'open_sansregular'; color:#faaf40; text-transform:none;}
.notificount{background: #faaf40 none repeat scroll 0 0; border: 2px solid #fff; border-radius: 32px; height: 28px; left: 170px; position: absolute; top: 25px; width: 28px; color:#fff; font-size:11px; font-family: 'open_sansregular'; text-align:center; padding-top:4px;}

.notifi-col-1{font-size:11px; font-family: 'open_sansregular'; padding:4px; color:#526578; padding:10px; float:left; width:100%; padding-bottom:10px; padding-left:20px; padding-right:20px}
.notifi-col-1-icon{ background: #526578 none repeat scroll 0 0; border-radius: 24px; font-size: 12px; margin-right: 8px; padding: 6px; color:#fff !important; float:left;}
.notifi-line {font-size:10px; color:#8798a9;}
.notifi-time{font-size:10px; color:#8798a9;}
.notifi-details{float:left;}

.allnotifi{border: 1px solid #faaf40; display: table; margin: 0 auto; padding: 4px; text-align: center;width: 150px; border-radius: 32px; margin-top:14px;font-size:12px; font-family: 'open_sansregular'; position:relative; top:20px; }
.allnotifi a{color:#faaf40; text-decoration:none;}
.allnotifi a:hover{color:#faaf40; text-decoration:none;}

/*.footer-block {
    background: #14223a none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-family: "open_sansregular";
    font-size: 11px;
    height: auto;
    padding: 12px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 9999;
}*/
.footer-block {
    background: #0F283C none repeat scroll 0 0;
    bottom: 0;
    /*color: #fff;*/
    font-family: "open_sansregular";
    font-size: 10px;
    height: auto;
    /*padding: 7px 12px;*/
    position: fixed;
    text-align: center;
    width: 270px;
    z-index: 9999;
}

.innerSectiontop{width:100%; float:left; background:#FFF; height:100%; padding:20px;}
.innerSectiontop h2{font-family: 'open_sansregular'; font-size:15px; color:#37404f; margin-top:8px;}
.innerSectiontop p{font-family: 'open_sanslight'; font-size:13px; color:#37404f; }

.image-1{ display: inline-block; position: relative; z-index: 999;}
.image-1 img{width:180px;}
.image-2{ display: inline; margin-left: -53px; position: relative;}
.image-2:hover{z-index:999;}

.image-1 img{width:180px;}
.image-2 img{width:180px;}

.innerSectiontop img{ width:100%;}

.sb-left {
    background: #34425a !important;
    padding-bottom: 50px !important;
}
.leftPanel {
    background: #34425a none repeat scroll 0 0;
    float: left;
    left: 0;
    padding-bottom: 50px !important;
    position: relative;
    top: 65px;
    width: 270px;
}

@media screen and (min-width: 1025px) and (max-width: 10000px) {
    .sb-left {
    	margin-left: 0 !important;
    	transform: translate(0px) !important;
    	display: block !important;
    }
}
@media screen and (min-width: 0px) and (max-width: 1024px) {
	.logo img {
	    margin-left: 17px !important;
	    margin-top: 9px;
	    width: 110px !important;
	}
	.tab-menu {
	    float: left;
	    left: 10px;
	    position: relative;
	    top: 15px;
	    display: block !important;
	}
    .tab-menu i {
	    font-size: 30px;
	    color: #faaf40;
    }
	.sb-slidebar {
	    width: 270px !important;
	}
    .sb-slidebar.sb-active {
        display: block;
        margin-top: 0 !important;
    }
    .rightPanel {
	    left: 0 !important;
	    right: 0;
	    position: relative !important;
        top: 0px !important;
         -webkit-transition:all 0.4s ease;
        -moz-transition:all 0.4s ease;
        -o-transition:all 0.4s ease;
        transition:all 0.4s ease;
	}
	.expand {
	    left: 270px !important;
	    right: 0;
        -webkit-transition:all 0.4s ease;
        -moz-transition:all 0.4s ease;
        -o-transition:all 0.4s ease;
        transition:all 0.4s ease;
	}
}

.sb-slidebar {
    width: 270px !important;
}

.diagram-mapper {
	float: left;
	width: 100%;
    padding: 30px 0 0 0;
}
#applicationStatus {
  position: relative;
  width: auto;
  height: auto;
  padding: 0; }

.applicationStatus li { /* Added this and moved much code to here */
  position: relative; /* this was a key property missing from your code */
  text-indent: auto;
  height: 83px;
  background-color: #767676;
  display: inline-block;
  /* Dirty IE Hack */
  zoom: 1;
  *display: inline;
  /* margin-right: 30px; Eliminated this */
  margin-left: 0px;
  padding: 10px 10px 10px 10px;
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 56px;
  width: 15%;
  float: left;
  padding-left: 10%;
}
.applicationStatus li:hover {
	
	cursor: pointer;
}
.applicationStatus li i {
	float: left;
	width: 100%;
	text-align: center;
}
.applicationStatus li a {
	color: #fff;
    float: left;
    left: 60px;
    position: absolute;
    top: 14px;
    width: 100%;
}
.applicationStatus li span {
    float: left;
    font-size: 10px;
    font-weight: normal;
    line-height: 9px;
    padding-top: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
}

ul.applicationStatus { /* this is irrelevant with the HTML you gave, but I added the class */
  list-style: none;
  padding: 0px;
  text-align: center; 
float: left;
width: 100%;}



.applicationStatus li .shdow {
	bottom: -11px;
    left: -16px;
    position: absolute;
    width: 100%;
    display: none;
}
.applicationStatus li:hover .shdow {
	box-shadow: 0px 4px 5px -3px #000;
	display: block;
}


.colour-1 {
	background: url(../images/bg-dig-0.png) no-repeat left center #f7931e !important;
	border-left-color: #FFF !important; 
	z-index: 10000 !important;
}

.colour-2 {
	background: url(../images/bg-dig-1.png) no-repeat left center #f4b320 !important;	
	border-left-color: #f7931e !important;
	z-index: 9000 !important;
}

.colour-3 {
	background: url(../images/bg-dig-2.png) no-repeat left center #ff822f !important;	
	border-left-color: #f4b320 !important; 
	z-index: 8000 !important;
}
.colour-4 {
	background: url(../images/bg-dig-3.png) no-repeat left center #ff6a2f !important;	
	border-left-color: #ff822f !important; 
	z-index: 7000 !important;
}
.colour-5 {
	background: url(../images/bg-dig-4.png) no-repeat left center #f4b320 !important;	
	border-left-color: #ff6a2f !important; 
	z-index: 6000 !important;
}
.colour-6 {
	background: url(../images/bg-dig-5.png) no-repeat left center #44cb74 !important;	
	border-left-color: #f4b320 !important; 
	z-index: 5000 !important;
}
.colour-7 {
	background: url(../images/bg-dig-6.png) no-repeat right center #44cb74 !important;
	border-left-color: #f4b320 !important; 
	padding: 0 !important;
    width: 89px !important;
}
.colour-7:hover {
	box-shadow: none !important;
}



.map-links {
	float: left;
	width: 100%;
	margin-top: -8px;
}
.map-links > div {
	width: 16.6666%;
	float: left;
	text-align: center;
}
.map-links > div a {
	display: inline-block;
	width: auto;
	position: relative;
}
.map-links > div img {
	width: auto;
	display: inline-block;
	position: relative;
}
.link-1 {
	z-index: 1000;
	position: relative;

}
.link-2 {
	z-index: 900;
	position: relative;
	
}
.link-3 {
	z-index: 800;
	position: relative;
	
}
.link-4 {
	z-index: 700;
	position: relative;
	
}
.link-5 {
	z-index: 600;
	position: relative;
	
}
.link-6 {
	z-index: 500;
	position: relative;
	
}

.sb-slidebar .leftPanel > a {
    -webkit-transform: none !important;
}

.applicationStatus li a i img {
    display: inline-block;
    height: 35px;
    width: 35px;
}
.applicationStatus li {
    font-size: 18px;
    line-height: 23px;
}



.applicationStatus li a {
    height: 58px;
}




.colour-1 i {
    background: url(../images/bg-img-0.png) no-repeat center center;	
    background-size: 34px 33px;
    height: 33px;
}

.colour-2 i {
    background: url(../images/bg-img-1.png) no-repeat center center;	
    background-size: 34px 33px;
    height: 33px;
}
.colour-3 i {
    background: url(../images/bg-img-2.png) no-repeat center center;	
    background-size: 34px 33px;
    height: 33px;
}
.colour-4 i {
    background: url(../images/bg-img-3.png) no-repeat center center;	
    background-size: 34px 33px;
    height: 33px;
}
.colour-5 i {
    background: url(../images/bg-img-4.png) no-repeat center center;	
    background-size: 34px 33px;
    height: 33px;
}
.colour-6 i {
    background: url(../images/bg-img-5.png) no-repeat center center;	
    background-size: 34px 33px;
    height: 33px;
}
.colour-7 i {
	background: url(../images/bg-img-6.png) no-repeat center center;	
    background-size: 34px 33px;
    height: 33px;
}








@media screen and (min-width: 1025px) and (max-width: 10000px) {
    .link-1 a {
		right: -92px;
	}
	.link-2 a {
		right: -92px;
	}
	.link-3 a {
		right: -85px;
	}
	.link-4 a {
		right: -85px;
	}
	.link-5 a {
		right: -85px;
	}
	.link-6 a {
		right: 10px;
	}

}

@media screen and (min-width: 0px) and (max-width: 1024px) {
    .applicationStatus li {
	    background-color: #767676;
	    color: white;
	    display: inline-block;
	    font-size: 10px;
	    line-height: 56px;
	    margin-left: -4px;
	    padding: 10px 10px 10px 16px;
	    position: relative;
	    text-align: center;
	}
    .footer-block {
        width: 100%;
        text-align: center;
    }
}

.mybutton {
       font-size: 14px;
       font-weight: normal;
       color: #fff;
       white-space: nowrap;   
       cursor: pointer;  
       outline: 0 none;
       padding: 10px;
       text-align: center;
       background: #f9ab38;
}

/**START NEW UI STYLES**/
.span-full-width {
    width: 100%;
    text-align: center;
    border-right: none;
}

.span-full-width img {
    width:50%
}


.pic-full-width {
    display: inherit !important;
}

/*.state-of-art-wrap {
    width: 100%;
    height: 431px;
    background:url(../images/air-image.png) no-repeat;
    background-position: center;

}*/
/*.state-of-art-wrap:hover {opacity:0.9}*/

/*.col-movuse-over {
    float: left;
    height: 810px;
    width: 100px;
}
.over-1 {background:url(../images/Airpng_01.png) no-repeat;width:245px}
.over-2 {background:url(../images/Airpng_02.png) no-repeat;width:453px}
.over-3 {background:url(../images/Airpng_03.png) no-repeat;width:582px}
.over-4 {background:url(../images/Airpng_04.png) no-repeat;width:245px}
.over-5 {background:url(../images/Airpng_05.png) no-repeat;width:371px}*/

@media only screen and (max-width: 500px) {
   .span-full-width img {
    width:100%
}
}
/**END NEW UI STYLES**/