
h1 {
    margin: 0;
    float: left;
    width: 100%;
    font-size: 25px;
    color: #f9ab38;
    /*text-shadow: 1px 2px 1px #e5e5e5;*/
}
h2 {
    margin: 20px 0 15px 0;
    float: left;
    width: 100%;
    font-size: 20px;
    color: #f9ab38;
    text-shadow: 1px 2px 1px #e5e5e5;
}
h3 {
    margin: 20px 0 15px 0;
    float: left;
    width: 100%;
    font-size: 18px;
    color: #f9ab38;
}
h4 {
    margin: 20px 0 15px 0;
    float: left;
    width: 100%;
    font-size: 16px;
    color: #f9ab38;
    text-shadow: 1px 2px 1px #e5e5e5;
}
.disc {
    float: left;
    width: 100%;
    padding: 0;
}
.disc p {
    float: left;
    width: 100%;
    font-size: 12px;
    padding: 0 0 10px 0;
    color: #939393;
    text-align: justify;
    margin: 0px;
}
.disc p a {
    color: #f9ab38;
    text-decoration: underline;
    font-weight: bold;
}
.disc p strong {
    font-size: 16px;
    font-weight: 500;
}

.table-data-sep {
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
    color: #939393;
}
.table-data-sep thead {
    background: #7d7d7d;
    color: #fff;
    font-weight: 500;
}
.table-data-sep tr:hover {
    background: none !important;
}
.table-data-sep tr td:hover {
    background: #eee;
}
.table-data {
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
}
.table-data .loop {
    background: #f3f3f3 !important;
}
.table-data tr {
    font-weight: 300 !important;
}
.table-data tr td:hover {
    background: #aaaaaa !important;
    color: #fff;
}
.table-data thead {
    background: #7d7d7d;
    color: #fff;
    font-weight: 500;
}

.act-link {
    background: #FFF;
    color: #f9ab38 !important;
    font-weight: bold;
}

table{ 
    height: auto; 
    width: 100%; 
    position: relative; 
    background-color: #FFFFFF; 
    border-width: 1px; 
    border-style: solid; 
    border-color: #DDDDDD; 
    border-radius: 0px; 
} 
table:before{ 
    content: ""; 
    z-index: -1; 
    position: absolute; 
    width: 50%; 
    top: 160px; 
    bottom: 25px; 
    left: 10px; 
    -webkit-transform: rotate(-3deg); 
    transform: rotate(-3deg); 
    box-shadow: 0px 15px 10px #777777; 
} 
table:after{ 
    content: ""; 
    z-index: -1; 
    position: absolute; 
    width: 50%; 
    top: 160px; 
    right: 10px; 
    bottom: 25px; 
    -webkit-transform: rotate(3deg); 
    transform: rotate(3deg); 
    box-shadow: 0px 15px 10px #777777; 
}


.comm-radius {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.7);
    float: left;
    width: 100%;
    padding: 0 20px 15px 20px;
    min-height: 210px;
    margin-bottom: 30px;
    border-radius: 5px 30px 5px;
}
.comm-radius:hover {
    box-shadow: 0px 0px 18px -4px #666;
    
}
.comm-radius p {
    margin-top: 0px !important;
    float: left;
    width: 100%;
}
.comm-radius h3 {
    margin-top: 0px !important;
    float: left;
    width: 100%;
}
.comm-radius ul {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px 0px 0px 15px;
}
.comm-radius ul li {
    float: left;
    width: 100%;
    list-style-type: circle;
    color: #FFF;
}
.comm-radius ul li a {
    color: #FFF;
    text-decoration: none;
}

