﻿
/*************************************START TOP SECTION*************************************/
.wrapper {background:#ffffff}
.employ-filters {float: left; width: 100%; padding: 10px 10px 5px 10px; background: #FFF; font-size:14px}
.employ-filters p {float: left; width: auto; font-size: 14px; font-weight: bold; padding: 5px 5px 10px 5px; color: #777; cursor: pointer}
.employ-filters .box {display:none;float:left;width:100%}
.employ-filters.show .box {display:block}
.drop_grid .k-widget.k-grid {border: 1px solid #ccc}
.col-sm-3 {padding-left:2px;padding-right:2px; margin-bottom:6px}
.col-xs-6 {margin-bottom:6px;padding-left:2px;padding-right:2px}
.clearfix2 {clear:both}

/**START KENDO DROPDOWN STYLES**/
.col-md-2 {padding: 0 5px}
.employ-filters .col-xs-6 .k-dropdown, .employ-filters .col-xs-6 input[type="text"], .employ-filters .col-xs-6 textarea {width:76% !important}
.employ-filters .col-sm-3 .k-dropdown, .employ-filters .col-sm-3 input[type="text"], .employ-filters .col-sm-3 textarea {width:100% !important}
.k-dropdown-wrap {background:#f4f4f4 !important;border:medium none; box-shadow:0 5px 2px -4px #cfcfcf !important;border-radius:3px;color:#95a5a6 !important}
.k-dropdown .k-input, .k-dropdown .k-state-hover .k-input, .k-dropdown .k-state-focaused .k-input{color: #95a5a6 !important;padding: 5px 12px; font-size:14px}
.k-grid .k-grid-content .k-input {padding: 2px 12px;}
.k-list-container {background: #fff !important; color: #95a5a6}
.k-list-container .k-list .k-item{padding:1px 0}
.k-list-container .k-state-focused, .k-list-container .k-state-selected, .k-list-container .k-list-optionlabel {background:#fff; color:#95a5a6;border:medium none !important}
.k-list-container .k-list .k-state-hover {background:#f4f4f4;border: none;padding:1px 0; color:#95a5a6}
.k-textbox {background:#f4f4f4 !important;border:medium none; box-shadow:0 5px 2px -4px #cfcfcf !important;border-radius:3px;color:#95a5a6 !important}
.k-grid .k-grid-content tr .k-button {border:none; font-size:0;height:16px}
.k-grid .k-grid-content tr .k-button .k-icon {background: none}
.k-grid .k-grid-content tr .k-button:focus {box-shadow:none !important}
.k-grid .k-grid-content tr .k-grid-edit {background: url('images/grid_edit_icon.png') no-repeat}
.k-grid .k-grid-content tr .k-grid-delete {background: url('images/grid_delete_icon.png') no-repeat}
.k-grid .k-grid-content tr .k-grid-update {background: url('images/grid_update_icon.png') no-repeat}
.k-grid .k-grid-content tr .k-grid-cancel {background: url('images/grid_cancel_icon.png') no-repeat}
.req .k-dropdown, .req input[type="text"], .req textarea {border-right: 1px solid #e74c3c}
.col-xs-6 label {display: inline-block; float: left; margin: 2px 3px 0 0; width: 22%;color:#555555}
/**END KENDO DROPDOWN STYLES**/

/**start html text box styles**/
input[type="text"] {background:#f4f4f4 !important;border:medium none; box-shadow:0 5px 2px -4px #cfcfcf !important;border-radius:3px;color:#95a5a6 !important;width:100%;padding:5px 12px}

/*************************************END TOP SECTION*************************************/


/*************************************START MIDDLE SECTION*************************************/
.middle_section {float: left; width: 100%; padding: 10px}

/**START KENDO GRID STYLES**/
.ab_grid .k-grid .k-header {background:none; text-align:right;padding-right:0}
.k-grid .k-grid-header {font-size: 14px}
.k-grid .k-header {border:none !important}
.k-grid tr td{border:none !important;color:#555555;font-size:13px}
.k-grid .k-state-selected {background:#cccccc}
.k-grid .k-grid-header .k-icon {margin: 0}
.k-grid .k-edit-cell .k-dropdown .k-input {float:left;padding-left:0}
.k-grid .k-edit-cell .k-dropdown, .k-grid .k-edit-cell .k-textbox, .k-grid .k-edit-cell .text-box{background: #f8f8f8 none repeat scroll 0 0 !important; border: 1px solid #fbb040 !important}
/**start grid icon styles**/
.no_bg {background:none}
.green_icon {color: #2ecc71; font-size:20px}
.blue_icon {color: #3498db;font-size:20px}
.red_icon {color: #e74c3c;font-size:20px}
.orange_icon {color: #fbb040;font-size:20px}
.hover_disable_green:hover {color:#2ecc71}
.hover_disable_blue:hover {color:#3498db}
.hover_disable_red:hover {color:#e74c3c}
/**end grid icon styles**/

/**start pagination styles**/
.k-grid-pager {font-size: 13px;border-top:0;background:none}
.k-grid-pager .k-link {border-radius: 3px;background:#f4f4f4}
.k-webkit .k-pager-numbers .k-current-page .k-link, .k-ff .k-pager-numbers .k-current-page .k-link, .k-ie11 .k-pager-numbers .k-current-page .k-link, .k-safari .k-pager-numbers .k-current-page .k-link {border-radius:3px !important}
.k-grid-pager .k-icon {margin-top: 6px}
.k-pager-sizes .k-dropdown .k-input, .k-pager-sizes .k-dropdown .k-state-hover .k-input, .k-pager-sizes .k-dropdown .k-state-focaused .k-input{padding:3px 12px}
.k-pager-numbers .k-state-selected {background: #95a4a7 none repeat scroll 0 0;border-color:#95a4a7; border-radius: 3px}
/**end pagination styles**/
/**END KENDO GRID STYLES**/



/**START KENDO SCHEDULER STYLES**/
.k-scheduler .k-header {background: #f8f8f8 none repeat scroll 0 0}
.k-scheduler-header .k-scheduler-table {background: #95a4a7 none repeat scroll 0 0; color: #ffffff}
.k-scheduler .k-header .k-scheduler-navigation .k-link, .k-scheduler .k-header .k-scheduler-views .k-link {color: #a1a0a4; font-size: 11px}
.k-scheduler .k-scheduler-navigation .k-state-default {height: 32px}
.k-scheduler .k-scheduler-navigation .k-icon {margin-top:0}
.k-scheduler .k-scheduler-navigation .k-lg-date-format {float: right; margin-top: -4px}
.k-scheduler-navigation li:hover, .k-scheduler-views li:hover {background:none !important}
.k-scheduler-views .k-state-selected:hover {background:#fbb040 !important}
.k-scheduler-views .k-state-selected {color:#ffffff !important; background:#fbb040 !important; border-color:#fbb040 !important}
.k-scheduler-views .k-state-selected .k-link {color:#ffffff !important; text-decoration:none !important}
.k-scheduler-navigation .k-i-calendar {background: url('images/calendar.png') no-repeat; background-position:inherit !important}
.k-scheduler .k-event {background:#fbb040 linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent) repeat scroll 0 0 / 40px 40px !important; border:none; color:#ffffff}
.k-scheduler .k-scheduler-layout {font-size: 12px}
.k-scheduler .k-scheduler-table th {text-align:center}
.k-scheduler .k-event .k-icon {margin-top: 2px}
.k-scheduler .k-event .k-link .k-si-close {background: url('images/schedul_close.png') no-repeat;margin-top:4px}

/**start calender styles**/
.k-calendar {font-size: 12px; height: 200px; width: 200px}
.k-calendar .k-header .k-state-hover {background:none}
.k-calendar .k-header .k-icon {margin-top:4px}
.k-calendar .k-content .k-state-hover {background:#f4f4f4  !important}
.k-calendar .k-content .k-state-selected, .k-calendar .k-content .k-state-selected {background:#fbb040 !important; box-shadow:none}
/**end calender styles**/
/**END KENDO SCHEDULER STYLES**/

/**start exam page styels**/
.exam_candi_detail {color: #505050; font-size: 12px}
.exam_candi_detail label {display: block;font-weight: bold}
.exam_candi_detail span {float: left; margin-right: 4px; width: 73px}
.exam_candi_detail .section { display: inline-block !important; text-align: center; }
.section_wrap {background: #e9e9e9 none repeat scroll 0 0; padding: 3px; text-align: center}
.question_wrapper {float: left; height: 365px; overflow-y: auto}
.q_wrap {float: left; margin-top: 23px; position: relative; width: 100%; font-size:13px; color:#555}
.q_wrap .flag_box {position: absolute; right: 0; top: 4px; font-size:17px}
.q_wrap .q_no {float: left}
.q_wrap p {margin-left: 20px;width:95%;margin-top:1px}
.q_wrap .k-checkbox:checked + .k-checkbox-label::after {border-color:#95a4a7 !important; box-shadow:none !important}
.q_wrap .k-checkbox:focus + .k-checkbox-label::after, .k-radio:focus + .k-radio-label::before {box-shadow:none !important;border-color:#95a4a7 !important}
.q_wrap .q_answers{margin:3px 0 0 14px}
.q_wrap .k-radio:checked + .k-radio-label::after {left:2px; top:2px}
/**start bottom button styles**/
.fixed_btn_set { bottom: 35px; height: 40px; padding-left: 4px; padding-right: 4px; position: fixed; right: 0; text-align: center; width: 100%; z-index: 1000; }
.left_set {float:left; text-align:left}
.right_set {float:right}
.default_fixed_btn, .default_fixed_btn:hover, .default_fixed_btn:focus {color:#ffffff; text-decoration:none}
.fixed_btn_set a {float: none; display: inline-block; height: 40px; border: none; margin: 0; padding: 7px; border-radius: 5px; text-transform: uppercase; font-size: 14px}
.fixed_btn_set a i {display: inline-block; font-size: 21px; padding-right: 10px; position: relative; top: 2px}
@media (min-width: 1025px) and (max-width: 8000px) {
    .fixed_btn_set {padding-left:246px}
}
/**end bottom button styles**/
/**end exam page styels**/


/*************************************END MIDDLE SECTION*************************************/

/**START BUTTON STYLES**/
.default_btn {border-radius: 3px; color: #fff; font-weight: 400; padding: 4px 12px; text-transform:uppercase; font-size:11px;font-weight:bold; line-height: 26px;}
.green_btn, .green_btn:hover, .green_btn:active {background: #2ecc71 !important; box-shadow:none !important;border-color:#2ecc71 !important}
.blue_btn, .blue_btn:hover, .blue_btn:active {background: #3498db !important; box-shadow:none !important;border-color:#3498db !important}
.orange_btn, .orange_btn:hover, .orange_btn:active {background: #fbb040 !important; box-shadow:none !important;border-color:#fbb040 !important}
.red_btn, .red_btn:hover, .red_btn:active {background: #e74c3c !important; box-shadow:none !important;border-color:#e74c3c !important}
.black_btn, .black_btn:hover, .black_btn:active {background: #3c3c3c !important; box-shadow:none !important;border-color:#3c3c3c !important}
.btn_text {margin-left: 4px}
.button_row {padding-left: 9px}
.default_btn:focus {text-decoration:none !important; color:#ffffff !important}
.k-grid .k-header .k-grid-add {background: #2ecc71 none repeat scroll 0 0; color: #fff; font-size: 11px; font-weight: bold; line-height: 26px; padding: 4px 12px; text-transform: uppercase}
.k-grid .k-header .k-button .k-icon {margin:0}
.k-grid .k-header .default_btn {line-height: 16px}
/**start upload popup button**/
.k-window .k-content .k-dropzone .k-upload-button {background: #3498db none repeat scroll 0 0; border: medium none; color: #fff; font-size: 11px; font-weight: bold; text-transform: uppercase;min-width:100px}
.k-window .k-content .k-upload-selected {background: #2ecc71 none repeat scroll 0 0; border: medium none; color: #fff; font-size: 11px; font-weight: bold; text-transform: uppercase;min-width:88px}

/**end upload popup button**/

/**END BUTTON STYLES**/

/**START COMMON KENDO STYLES (EFFECT ALL)**/
.k-icon {margin: 9px 0 0}
.k-grid {border:none}
.k-button:hover {color:#ffffff}
.k-grid-header {background:#95a4a7}
.k-grid-header .k-link {color: #ffffff !important; text-align: left; font-weight:bold}
/**START COMMON KENDO STYLES**/

/**START POPUP STYLES**/
.k-window .k-window-content {font-size: 14px}
.k-window .k-window-content .k-i-calendar{background: url('images/calendar.png') no-repeat; background-position:inherit !important}
.k-window .k-window-content .k-datetimepicker .k-picker-wrap .k-icon {margin:7px 2px !important}
.k-picker-wrap, .k-picker-wrap .k-input {background:#f4f4f4 !important;border:medium none; box-shadow:0 5px 2px -4px #cfcfcf !important;border-radius:3px;color:#95a5a6 !important}
.popup_error_msg {color: #e74c3c; line-height: 43px; text-align: center}
.k-widget .k-content .k-upload {background: #f4f4f4}
.k-window .k-window-action .k-icon.k-i-close {background:none}
.k-window .k-window-actions a {background: url('images/window_close_icon.png') no-repeat; width:20px; height:20px;padding:0}
.k-window .k-window-actions a:hover {border:0}
.k-window .k-window-title {color: #909090}
/**start popup modal styles**/
.modal-dialog .modal-content h2 {color: #555555; font-weight: normal !important}
.modal-dialog .modal-content .confirm-action .btn {text-transform: uppercase}
.k-window {top: 24% !important}
.k-window .button_row {padding-left:0}
/**end popup modal styles**/

/**END POPUP STYLES**/

/**end Question create styles**/
.employ-filters .exam_type_wrap .k-dropdown {float: left; width: 69% !important}
.employ-filters .mode_wrap .k-dropdown {float: left; width: 83% !important}
.employ-filters .mode_wrap .default_btn {float:left;margin-left:3px}
.exam_type_wrap .default_btn {float:left;margin-left:3px}
textarea {background:#f4f4f4 !important;border:medium none; box-shadow:0 5px 2px -4px #cfcfcf !important;border-radius:3px;color:#95a5a6 !important;padding:5px 14px 0 14px}
.col_text-box {clear: both; width: 100% !important}
.col_text-box textarea {width: 100%}
.exam_type_wrap .k-grid {margin-top: 41px}
.exam_type_wrap .k-grid .default_btn {float: right}
/**end Question create styles**/

/**START VALIDATION STYLES**/
.k-tooltip-validation .k-icon {margin: 0}
/**END VALIDATION STYLES**/

/**START LG LINE STYLES**/
.lg_line {margin-top:20px}
.lg_line li {display: inline-block;margin-right:8px}
.lg_line span {float: left; height: 20px; width: 20px}
.lg_line p {float: left; line-height: 17px;font-size:12px}
.local_font {font-size: 14px; line-height: 14px; width: 10px !important}
.common_green {color: #2ecc71}
.common_blue {color: #3498db}
.common_red {color: #e74c3c}
.common_orange {color: #fbb040}
/**END LG LINE STYLES**/