/* ========================================================================= */
/* !RESETS AND DEFAULTS */
/* ========================================================================= */

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, var, hr, acronym, dl, dt, dd, ol, ul, li, pre, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0;
    outline: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
}

em, strong, b, i, a, span, sub, sup, small {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

a:focus {
    outline: 0;
}

:focus, :active {
    outline: none;
    outline: 0;
}

::-moz-focus-inner {
    outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border-top: 1px solid #000;
    color: #000;
}

input,
select {
    vertical-align: middle;
}

sub {
    vertical-align: sub;
    font-size: smaller;
    line-height: 0px;
}

sup {
    vertical-align: super;
    font-size: smaller;
    line-height: 0px;
}

input,
button,
textarea,
select,
label,
img {
    display: inline-block;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    /*-webkit-appearance: none;*/ /**commited for displaying kendo checkboxes on webkit browsers**/
}

textarea {
    resize: none;
}

button,
a span {
    cursor: pointer;
}

button {
    border: 0;
    text-align: center;
}

body,
input,
button,
textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a[href^=tel] {
    color: inherit;
}
/* != CLEAR ELEMENTS */

.clear {
    clear: both;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-table;
}

* html .clearfix {
    height: 1%;
}
/* Hides from IE-mac \*/

.clearfix {
    display: block;
}
/* Hides from IE-mac \*/

* html .clearfix {
    zoom: 1;
}
/* IE6 */

*:first-child + html .clearfix {
    zoom: 1;
}
/* IE7 */

#no_ie6 {
    width: 100%;
    height: 40px;
    overflow: hidden;
    border-bottom: 2px solid #000;
}
/* ========================================================================= */
/* !FONTS (@fontface generated with FontSpring Syntax formatting */
/* ========================================================================= */

@font-face {
    font-family: "jack-social";
    src: url("../fonts/JackSocial/jack-social.eot");
    src: url("../fonts/JackSocial/jack-social.eot?#iefix") format("embedded-opentype"), url("../fonts/JackSocial/jack-social.ttf") format("truetype"), url("../fonts/JackSocial/jack-social.woff") format("woff"), url("../fonts/JackSocial/jack-social.svg#jack-social") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* ========================================================================= */
/* !SASS VARIABLES & MIXINS */
/* ========================================================================= */
/* ========================================================================= */
/* !STYLES */
/* ========================================================================= */

html,
body {
    margin: 0px;
}

a:hover,
a:active,
a:focus,
a {
    outline-color: -moz-use-text-color !important;
    outline-style: none !important;
    outline-width: 0 !important;
    outline: 0 none !important;
}

p {
    margin: 0px;
    padding: 0px;
}
/* != SELECTION STYLES (Leaving these blank will show no indication of text selection) ===== */
/* ::selection         { background: #aaa; color: #fff; } ::-moz-selection    { background: #aaa; color: #fff; } ::-webkit-selection { background: #aaa; color: #fff; }
*/
/* != ICON FONT DECLARATION ===== */

[data-icon]:before {
    font-family: "jack-social";
    content: attr(data-icon);
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none !important;
    speak: none;
    display: inline-block;
    text-decoration: none;
    width: 1em;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="social-"]:before,
[class*=" social-"]:before {
    font-family: "jack-social";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none !important;
    speak: none;
    display: inline-block;
    text-decoration: none;
    width: 1em;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.social-email:before {
    content: "a";
}

.social-email-round:before {
    content: "A";
}

.social-facebook:before {
    content: "f";
}

.social-facebook-round:before {
    content: "F";
}

.social-flickr:before {
    content: "c";
}

.social-flickr-round:before {
    content: "C";
}

.social-googleplus:before {
    content: "g";
}

.social-googleplus-round:before {
    content: "G";
}

.social-instagram:before {
    content: "i";
}

.social-instagram-round:before {
    content: "I";
}

.social-linkedin:before {
    content: "l";
}

.social-linkedin-round:before {
    content: "L";
}

.social-pinterest:before {
    content: "p";
}

.social-pinterest-round:before {
    content: "P";
}

.social-rss:before {
    content: "r";
}

.social-rss-round:before {
    content: "R";
}

.social-sharethis:before {
    content: "s";
}

.social-sharethis-round:before {
    content: "S";
}

.social-twitter:before {
    content: "t";
}

.social-twitter-round:before {
    content: "T";
}

.social-vimeo:before {
    content: "v";
}

.social-vimeo-round:before {
    content: "V";
}

.social-yelp:before {
    content: "x";
}

.social-yelp-round:before {
    content: "X";
}

.social-youtube:before {
    content: "y";
}

.social-youtube-round:before {
    content: "Y";
}

.social-youtube2:before {
    content: "u";
}

.social-youtube2-round:before {
    content: "U";
}
/* != DEFAULT WORDPRESS STYLES = USE AS NEEDED = .wp-caption = .wp-caption-dd = .wpGallery = .shutter = .shutterset ==== */

.aligncenter {
    display: block;
    margin: 25px auto;
}

.alignleft {
    float: left;
    margin: 0 25px 25px 0;
}

.alignright {
    float: right;
    margin: 0 0 25px 25px;
}

.alignnone {
    display: inline-block;
}
/* != LAYOUT STYLES ===== */
/* != PLACEHOLDER ATTRIBUTE STYLES = input or textarea - placeholder="whatever" ===== */
/* ::-webkit-input-placeholder { color: #aaa; } :-moz-placeholder           { color: #aaa; }
*/

form ul {
    margin: 0;
}

form ul li {
    background: none;
    list-style: none;
}

form ul li div {
    display: inline-block;
    vertical-align: top;
}

input[type=submit],
button {
    display: inline-block;
    cursor: pointer;
}
/* ========================================================================= */
/* !CUSTOM */
/* ========================================================================= */

* {
    font-family: arial;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: arial;
}

header {
    float: left;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-box-shadow: 0 3px 5px -5px #000000;
    box-shadow: 0 3px 5px -5px #000000;
    z-index: 1000;
    padding-left: 15px;
    text-align: left;
}

header img {
    display: inline-block !important;
    width: 140px;
    float: none;
    position: relative;
    top: 6px;
}

header .img-2 {
    display: inline-block;
    float: none;
    position: relative;
    top: 0;
    width: 362px;
}

footer {
    float: left;
    width: 100%;
    height: 30px;
    background: #122133;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    z-index: 10000;
}

footer p {
    color: #FFF;
    font-size: 12px;
    padding-top: 6px;
}

footer p span {
    color: #FBB040;
}

.page-section {
    float: left;
    width: 100%;
    padding-top: 42px;
    padding-bottom: 40px;
}

body {
    background: #f8f8f8;
}



a,
a:hover {
    text-decoration: none;
}




.navigate {
    width: 242px;
    background: #223143;
    position: fixed;
    left: -242px;
    top: 50px;
    bottom: 0;
    z-index: 1000;
    padding-bottom: 50px;
    overflow: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    /*box-shadow: 0 -4px 8px -2px #000;*/
    text-align: left;
}

.slid-nav {
    left: 0px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.product-nav h4 {
    float: left;
    width: 100%;
    text-transform: uppercase;
    color: #d0dcf4;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 8px;
    margin: 0px;
    background: #546375;
}

.product-nav span {
    color: #7f8ca4;
}

.product-nav a {
    color: #7f8ca4;
    float: right;
}

.product-nav ul {
    padding: 0px;
    float: left;
    width: 100%;
    margin: 0px !important;
}

.product-nav li {
    list-style: none;
    margin: 0px !important;
    padding: 0px !important;
    position: relative;
    min-height: 35px;
    margin-bottom: 1px !important;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.product-nav li:hover span {
    color: #FFF;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.product-nav a:hover {
    color: #FFF;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.product-nav span:hover {
    color: #FFF;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.product-nav li:hover {
    color: #FFF;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.product-nav li .tree-title {
    float: left;
    font-size: 12px;
    padding: 8px;
    width: 100%;
}

.product-nav li .coltroller-icon {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.product-nav ul .lister li {
    padding: 8px 16px !important;
    float: left;
    width: 100%;
    font-size: 12px;
}

.product-nav li.sub-tree {
    padding: 8px !important;
    float: left;
    width: 100%;
    font-size: 12px;
}


.product-nav ul ul {
    margin-top: 2px !important;
}

.product-nav ul ul ul {
    margin-top: 2px !important;
}

.product-nav ul ul li > a:before {
    background: #526883 none repeat scroll 0 0 !important;
    color: #2f3c54;
    content: "\f107";
    float: right;
    font-size: 22px;
    font-weight: normal;
    height: 35px;
    line-height: 32px;
    padding-right: 0;
    text-align: center;
    width: 35px;
    font-family: fontfile;
    font-style: normal;
    font-weight: normal;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.product-nav ul ul li>a.active:before {
    content: "\f106";
    background: #27ae60 none repeat scroll 0 0 !important;
    color: #FFF;
    float: right;
    font-size: 22px;
    font-weight: normal;
    height: 35px;
    line-height: 28px;
    padding-right: 0;
    text-align: center;
    width: 35px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.product-nav li:hover a::before {
    background: #27ae60 !important;
    color: #FFF !important;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.menu {
    color: #fff;
    float: left;
    height: 22px;
    margin: 14px 9px;
    overflow: hidden;
    width: 30px;
    background: none;
    padding: 0px;
    background: url(../images/menu.png) center center no-repeat;
    background-size: 30px 30px;
}

.menu i {
    font-size: 29px;
    background: #fbb040;
}




.user-block {
    float: right;
    height: 50px;
    padding: 2px;
    width: auto;
    cursor: pointer;
    margin-left: 10px;
	border-left: 1px solid #f1f1f1
}

.user-block img {
    border-radius: 100%;
    width: 35px;
    margin-right: 10px;
    float: left;
    height: 35px;
}

.user-block h1 {
    float: left;
    padding-right: 0px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-block h1 a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60px;
    float: left;
}

/*.user-block h1:after {
    content: "\f0d7";
    font-family: fontfile;
    color: #666;
    float: right;
    margin-left: 0px;
    margin-right: 4px;
}*/

.user-block h1 a {
    color: #666;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.user-block .user-settings {
    position: absolute;
    top: 50px;
    right: 16px;
    z-index: 1000;
    background: #FFF;
    width: 160px;
    padding: 5px 0px 0px 0px;
    border: solid 1px #e2e2e2;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
}
.user-block .user-settings p {
    float: left;
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.user-block .user-settings a {
    float: left;
    width: 100%;
    text-align: left;
    color: #666;
    font-size: 12px;
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: bold;
    border-top: solid 1px #ededed;
}
.user-block .user-settings a i {
    display: inline-block;
    position: relative;
    left: 5px;
}
.user-block .user-settings:after,
.user-block .user-settings:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.user-block .user-settings:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 9px;
    left: 70%;
    margin-left: -6px;
}

.user-block .user-settings:before {
    border-color: rgba(113, 158, 206, 0);
    border-bottom-color: #ddd;
    border-width: 10px;
    left: 70%;
    margin-left: -7px;
}

.user-block .user-settings .new-leave-counter {
    float: left;
    width: 100%;
}
.user-block .user-settings .new-leave-counter p {
    font-size: 12px;
}
.user-block:hover .user-settings {
    opacity: 1;
    visibility: visible;
}
.user-settings span {
    float: right;
    color: #FFF;
    border-radius: 5px;
    width: 20px;
    text-align: center;
}
.user-block-left {
    float: left;
    width: 100%;
    padding: 10px 5px;
    border-bottom: solid 1px #384759;
}

.user-block-left .user-block-pic {
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
}

.user-block-left .user-block-detail {
    float: left;
    width: 159px;
    padding-left: 10px;
}

.user-block-left .user-block-detail p {
    color: #FFF;
    margin: 0px;
    line-height: 12px;
    float: left;
    width: 100%;
    padding-top: 10px;
}

.user-block-left .user-block-detail span {
    color: #fbb040;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 4px 0 0;
}

.left-menu {
    float: left;
    width: 100%;
    text-align: left;
}

.left-menu ul {
    float: left;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 30px;
}

.left-menu ul li {
    float: left;
    width: 100%;
    height: auto;
    min-height: 1px;
    border-bottom: solid 1px #384759;
}

.left-menu ul li a {
    float: left;
    width: 100%;
    text-align: left;
    height: auto;
    padding: 10px;
    font-size: 14px;
}

.title {
    float: left;
    width: 100%;
    text-align: center;
    background: #FBB040;
    color: #FFF;
    font-size: 14px;
    padding: 10px;
	margin-top:-1px;
	font-weight:bold;
}

.applyleave {
    float: left;
    width: 100%;
    background: #f8f8f8;
    position: relative;
}




html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background:#ffffff
}



/* ========================================================================= */
/* !CUSTOM */
/* ========================================================================= */
/* ========================================================================= */
/* !MEDIA QUERIES */
/* ========================================================================= */
/* @media screen and (max-width: XXXpx) {  } */

@media (min-width: 1025px) and (max-width: 8000px) {
    .menu {
        display: none;
    }
    .navigate {
        left: 0;
    }
    #site {
        padding-left: 242px;
        padding-top: 9px;
    }
}

@media (min-width: 0px) and (max-width: 1024px) {
    header {
        padding-left: 0px;
    }
    
    .menu-close {
        color: #fff;
        float: left;
        height: 22px;
        margin: 18px;
        overflow: hidden;
        width: 22px;
        background: none;
        padding: 0px;
        background: url(../images/close.png) center center no-repeat;
        background-size: 32px 32px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .page-section {
        float: left;
        padding-bottom: 40px;
        padding-top: 50px;
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .leavelister .each-col .detail .name {
        width: 30%;
    }
    .appr-leaves .each-col .detail .date {
        width: 36.5% !important;
    }
    header .img-2 {
        top: 3px;
        width: 301px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    footer {
        height: 31px;
    }
    header .img-2 {
        top: 3px;
        width: 301px;
    }
}

@media (min-width: 0px) and (max-width: 767px) {
    
    footer {
        display: none;
    }
    .navigate {
        width: 289px;
        z-index: 100000;
        left: -289px;
        top: 0;
    }
    .slid-nav {
        left: 0;
    }
    #header > .row > .col-xs-2 {
        padding-right: 0px;
    }
    #header > .row > .col-xs-10 {
        padding-left: 0px;
    }
    .mob-menu {
        background: #FFF;
        float: left;
        width: 100%;
        position: relative;
        padding: 6.5px;
    }
    .mob-menu img {
        width: 120px;
    }
    .menu-close {
        color: #fff;
        float: left;
        height: 22px;
        margin: 14px;
        overflow: hidden;
        width: 22px;
        background: none;
        padding: 0px;
        background: url(../images/close.png) center center no-repeat;
        background-size: 32px 32px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .navigate footer {
        position: relative;
        float: left;
    }
    
}
.menu-icons{margin-right:6px;}

/**  MESAGES STYLE **************************************************/
.msg {
    position: fixed;
    top: 4px;
    width: 100%;
    z-index: 99999;
}

    .msg .alert {
        padding: 15px;
        margin: 0 auto 7px auto;
        border: 1px solid transparent;
        border-radius: 4px;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 572px;
        min-height:50px
    }

        .msg .alert h4 {
            margin-top: 0;
            color: inherit;
        }

        .msg .alert p {
            padding-left: 25px;
            padding-top: 2px;
        }

        .msg .alert .alert-link {
            font-weight: bold;
        }

        .msg .alert > p, .msg .alert > ul {
            margin-bottom: 0;
        }

            .msg .alert > p + p {
                margin-top: 5px;
            }

    .msg .alert-dismissable {
        padding-right: 35px;
    }

        .msg .alert-dismissable .close {
            position: relative;
            top: -2px;
            right: -21px;
            color: inherit;
        }

    .msg .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

        .msg .alert-success hr {
            border-top-color: #c9e2b3;
        }

        .msg .alert-success .alert-link {
            color: #2b542c;
        }

    .msg .alert-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

        .msg .alert-info hr {
            border-top-color: #a6e1ec;
        }

        .msg .alert-info .alert-link {
            color: #245269;
        }

    .msg .alert-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }

        .msg .alert-warning hr {
            border-top-color: #f7e1b5;
        }

        .msg .alert-warning .alert-link {
            color: #66512c;
        }

    .msg .alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

        .msg .alert-danger hr {
            border-top-color: #e4b9c0;
        }

    .msg .alert {
        font-size: 12px;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    }

        .msg .alert .close i {
            font-size: 12px;
            font-weight: normal;
            display: block;
        }

        .msg .alert .att {
            font-size: 17px;
            padding-right: 10px;
        }

    .msg .alert-danger .alert-link {
        color: #843534;
    }

    .msg .close {
        color: #000000;
        float: right;
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        opacity: 0.31;
        text-shadow: 6px 6px 4px #FFFFFF;
    }

        .msg .close:hover, .msg .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            filter: alpha(opacity=50);
            opacity: .5;
        }

    .msg button.close {
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
    }
/**  MESAGES STYLE **************************************************/



.confirm-box .modal-dialog {
    background: #FFF;
    border-radius: 5px;
    border: none;
    border-top: solid 3px #FBB040;
    box-shadow: none;
    margin-top: 15%;
}

    .confirm-box .modal-dialog .modal-content {
        border: none;
        box-shadow: none;
        padding: 20px;
        border-radius: 5px;
    }

        .confirm-box .modal-dialog .modal-content h2 {
            font-size: 14px;
            font-weight: 700;
            padding-bottom: 25px;
            padding-top: 10px;
        }

.confirm-box .confirm-action {
    width: 100%;
    text-align: center;
}

    .confirm-box .confirm-action button {
        display: inline-block;
        float: none;
    }

        .confirm-box .confirm-action button:focus {
            border: none !important;
            outline: 0;
        }

    .confirm-box .confirm-action .action-1 {
        background: #3498db !important;
        color: #FFF !important;
        border: none !important;
    }

    .confirm-box .confirm-action .action-2 {
        background: #2ecc71 !important;
        color: #fff !important;
        border: none !important;
    }