﻿@model attune.Exam.Web.Areas.Assignment.Models.Assignment.ScheduleView
@{
    ViewBag.Title = @L("MasterExamCreationTitle");
}


<form id="frmAssignment" action="#">
    <h3>Assign</h3>
    <fieldset>

        <div class="col-xs-6 req">
            @Html.LabelFor(x => x.ExamTypeId)
            @Html.EditorFor(x => x.ExamTypeId)
        </div>
        <div class="col-xs-6 req">
            @Html.LabelFor(x => x.ExamId)
            @Html.EditorFor(x => x.ExamId)
        </div>
        <div class="col-xs-6 clearfix2 req">
            @Html.LabelFor(x => x.IsExamAvailable)
            @Html.EditorFor(x => x.IsExamAvailable)
        </div>
        <div class="col-xs-6 clearfix2 req">
            @Html.LabelFor(x => x.Start)
            @Html.EditorFor(x => x.Start)
        </div>
        <div class="col-xs-6 clearfix2 req">
            @Html.LabelFor(x => x.End)
            @Html.EditorFor(x => x.End)
        </div>

        <div class="col-xs-6">
            @Html.LabelFor(x => x.NonEmployee)
            @Html.CheckBoxFor(x => x.NonEmployee)
        </div>

        <div class="col-xs-6" style="display: none" id="behalfEmail">
            @Html.LabelFor(x => x.OnBehalfOfEmail)
            @Html.TextBoxFor(x => x.OnBehalfOfEmail)
        </div>

        <div class="col-xs-6" style="display: none" id="calendarInvite">
            @Html.LabelFor(x => x.SendCalendarInvite)
            @Html.CheckBoxFor(x => x.SendCalendarInvite)
        </div>
    </fieldset>

    <h3>Candidate Selection</h3>
        <fieldset>
            <div id="empSelection"></div>
       </fieldset>

     <h3>Candidate Assignment</h3>
    <fieldset>
        <div id="candidateAssign"></div>
    </fieldset>
    @Html.HiddenFor(x => x.CandidateString)
</form>


<script>
    
</script>
<style>
    .wizard > .content > .body {
     float: left;
    height: 95%;
    padding: 2.5%;
    position: relative;
    width: 95%;
    

}
</style>