﻿@model attune.Exam.Web.Areas.Assignment.Models.Assignment.EmployeeSelection

@(Html.Kendo().Grid(Model.CandidateView.DataSource)
              .Name("grdCandidateAssignment")
              .Columns(columns =>
                       {
                           columns.Bound(x => x.Id).Hidden(true);
                           columns.Bound(x => x.FirstName).Width(40);
                           columns.Bound(x => x.LastName).Width(40);
                           columns.Bound(x => x.Email).Hidden(true);
                           columns.Template(@<text></text>).ClientTemplate("<input data-index='#= Index #' type='checkbox' class='chkList' # if (ShowResults == true){#" + "checked=checked" + "# } #/>").Width(22).Title("Show Results");



                       })
                                                   .Pageable(pager => pager
                                                                      .Input(Model.CandidateView.PagerView.Input)
                                                                      .Numeric(Model.CandidateView.PagerView.Numeric)
                                                                      .Info(Model.CandidateView.PagerView.Info)
                                                                      .PreviousNext(Model.CandidateView.PagerView.PreviousNext)
                                                              .PageSizes(Model.CandidateView.PagerView.PageSizes)
                                                          )
                                                  .Sortable(x => x.Enabled(false))
                                                  .Scrollable(x => x.Height("auto"))
                                                  .DataSource(dataSource => dataSource
                                                      .Ajax().ServerOperation(false)
                                                      .Model(model =>
                                                             {
                                                                 model.Id(p => p.Id);
                                                             })
                                                                      .PageSize(10)
                                                                      .Read(read => read.Action("OnCandidateAssignmentRead", "Assignment").Data("Exam.Handlers.Assignment.getCandidateAssignmentGridParameters").Type(HttpVerbs.Get))
                                                  ))
