﻿@model attune.Exam.Web.Areas.Assignment.Models.Assignment.EmployeeSelection


<div class="col-xs-6 req">
    @Html.LabelFor(x => x.DivisionCode)
    @Html.EditorFor(x => x.DivisionCode)
</div>
<div class="col-xs-6">
    @Html.LabelFor(x => x.SectionCode)
    @Html.EditorFor(x => x.SectionCode)
</div>
<div class="col-xs-6">
    @Html.LabelFor(x => x.Designation)
    @Html.EditorFor(x => x.Designation)
</div>
@*<div class="col-xs-6 col-sm-3">
    <button class="default_btn green_btn att att-search" id="btnEmpSearch"></button>
</div>*@

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
    @(Html.Kendo().Grid(Model.CandidateView.DataSource)
              .Name("grdEmployeeSelection")
              .Columns(columns =>
                       {
                           columns.Template(@<text></text>).ClientTemplate("<input data-index='#= Index #' type='checkbox' class='chkList' # if (IsSelected == true){#" + "checked=checked" + "# } #/>").Width(22)
                               .HeaderTemplate("<input type='checkbox' id='chkAll'></input>");
                           columns.Bound(x => x.Id).Hidden(true);
                           columns.Bound(x => x.FirstName);
                           columns.Bound(x => x.LastName);
                           columns.Bound(x => x.Email).Hidden(true);

                       })
                                           .Pageable(pager => pager
                                                              .Input(Model.CandidateView.PagerView.Input)
                                                              .Numeric(Model.CandidateView.PagerView.Numeric)
                                                              .Info(Model.CandidateView.PagerView.Info)
                                                              .PreviousNext(Model.CandidateView.PagerView.PreviousNext)
                                                      .PageSizes(Model.CandidateView.PagerView.PageSizes)
                                                  )
                                          .Sortable(x => x.Enabled(false))
                                          .Scrollable(x => x.Height("auto"))
              .Events(x => x.DataBound("Exam.Handlers.Assignment.onEmployeeSelectionDataBound"))
                                          .DataSource(dataSource => dataSource
                                              .Ajax().ServerOperation(false)
                                              .Model(model =>
                                                     {
                                                         model.Id(p => p.Id);
                                                     })
                                                              .PageSize(10)
                                                              .Read(read => read.Action("OnEmployeeSelectionRead", "Assignment").Data("Exam.Handlers.Assignment.getEmployeeSelectionGridParameters").Type(HttpVerbs.Get))
                                          ))


