﻿@model attune.Exam.Web.Areas.Assignment.Models.Assignment.EmployeeSelection


<div class="col-xs-6 req">
    @Html.LabelFor(x => x.FromDate)
    @Html.EditorFor(x => x.FromDate)
</div>
<div class="col-xs-6">
    @Html.LabelFor(x => x.ToDate)
    @Html.EditorFor(x => x.ToDate)
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@(Html.Kendo().Grid(Model.CandidateView.DataSource)
              .Name("grdEmployeeSelection")
              .Columns(columns =>
                       {
                           columns.Template(@<text></text>).ClientTemplate("<input data-index='#= Index #' type='checkbox' class='chkList'/>").Width(22)
                               .HeaderTemplate("<input type='checkbox' id='chkAll'></input>");
                           columns.Bound(x => x.Id).Hidden(true);
                           columns.Bound(x => x.FirstName);
                           columns.Bound(x => x.LastName);
                           columns.Bound(x => x.Email).Hidden(true);

                       })
                                               .Pageable(pager => pager
                                                   .Input(Model.CandidateView.PagerView.Input)
                                                   .Numeric(Model.CandidateView.PagerView.Numeric)
                                                   .Info(Model.CandidateView.PagerView.Info)
                                                                  .PreviousNext(Model.CandidateView.PagerView.PreviousNext)
                                                          .PageSizes(Model.CandidateView.PagerView.PageSizes)
                                                      )
                                              .Sortable(x => x.Enabled(false))
                                              .Scrollable(x => x.Height("auto"))
                                                .DataSource(dataSource => dataSource
                                                  .Ajax().ServerOperation(false)
                                                  .Model(model =>
                                                         {
                                                             model.Id(p => p.Id);
                                                         })
                                                                  .PageSize(10)
                                                                  .Read(read => read.Action("OnNonEmployeeSelectionRead", "Assignment").Data("Exam.Handlers.Assignment.getNonEmployeeSelectionGridParameters").Type(HttpVerbs.Get))
                                              ))

