﻿@using attune.Exam.Web.Areas.Assignment.Models.Assignment

@{
    ViewBag.Title = @L("LayoutNavigationScheduler"); 
}

@(Html.Kendo().Scheduler<ScheduleView>()
    .Name("scheduler")
    .Date(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day))
                .StartTime(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, DateTime.Now.Hour, 00, 00))
    .Height(600)
    
    .Views(views =>
    {
        views.DayView();
        views.WorkWeekView();
        views.WeekView();
        views.MonthView(monthView=>monthView.Selected(true));
        //views.AgendaView();
        //views.TimelineView();
    })
    .Editable(false)
    .Selectable(true)
        .Events(x =>{
                       x.Change("Exam.Handlers.Assignment.onChangeSchedular");
                    })
       //.Editable(x => x.TemplateId("editor"))
    //.Timezone("Etc/UTC")
    .DataSource(d => d
        .Model(m =>
        {
            m.Id(f => f.ScheduleId);
            //m.Field(f => f.Title).DefaultValue("No title");
            //m.Field(f => f.OwnerID).DefaultValue(1);
            //m.Field(f => f.Title).DefaultValue("No title");
            //m.RecurrenceId(f => f.RecurrenceID);
        })
        .Read("OnSchedularRead", "Scheduler")
        //.Create("Create", "Scheduler")
        //.Destroy("Destroy", "Scheduler")
        //.Update("Update", "Scheduler")
        //.Filter(filters =>
        //{
        //    filters.Add(model => model.OwnerID).IsEqualTo(1).Or().IsEqualTo(2);
        //})
    )
)


<div id="privilege">
    @(Html.Kendo().Window()
        .Name("assignmentWindow")
        .Title("Assignment")
        .Modal(true)
        .Draggable(true)
        .Visible(false)
        .Width(900)
          //.Actions(x => x.Close())
          //          .Events(x =>
          //          {
          //              x.Open("UM.Handlers.Role.onOpen");
          //              x.Close("UM.Handlers.Role.Permission.onClose");
          //          })

        .Height(400)
    )
</div>