﻿@model attune.Exam.Web.Areas.Master.Models.QuestionBank.CategoryView


<div id="divQsBank" class="ab_grid">

    @(Html.Kendo().Grid(Model.Categories)
          .Name("grdCategory")
                    .HtmlAttributes(new { style = "width: 500px;" })
          .Columns(columns =>
                   {
                       columns.Command(command => command.Edit()).Width(30);
                       //columns.Command(command => command.Destroy()).Width(90);
                       columns.Bound(p => p.Id).ClientTemplate("<button class='no_bg red_icon' data-mode='delete' rowId='#=Id#'><i class='att att-times-circle'></i></button>").Title("").Width(30);
                       columns.Bound(p => p.Id).Hidden(true);
                       columns.Bound(p => p.Name).Width(150);
                       columns.Bound(p => p.ExamTypeId).Hidden(true);
                       columns.Bound(p => p.Description).Width(150);
                       columns.Bound(p => p.IsCommon).ClientTemplate("<input type='checkbox' disabled #= IsCommon ? checked='checked' : '' #/>").Title(@L("MasterQuestionBankGridHeaderCategoryIsCommon").Text.ToString()).Width(100);

                   })
                    .Events(x =>
                         {
                             x.Save("Exam.Handlers.QuestionBank.Category.onGridSave");
                             x.Remove("Exam.Handlers.QuestionBank.Category.onGridRemove");
                             x.DataBound("Exam.Handlers.QuestionBank.Category.onDataBoundCategory");
                         })

          .Pageable()
          .Editable(editable => editable.Mode(GridEditMode.InLine))
                  .ToolBar(toolBar =>
                           {
                               toolBar.Create().Text(@L("MasterQuestionBankCategoryGridTollBarAdd").Text);
                   @*toolBar.Template(@<text>
                    <a class="default_btn green_btn k-button k-button-icontext att att-plus" id="aRowCategoryAdd"><span class="btn_text">@L("MasterQuestionBankButtonAdd").ToString()</span></a>
                </text>);*@
                           })
                                  .Sortable(x => x.Enabled(false))
                                  .Scrollable(x => x.Height("auto"))
                                  .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                                  .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .ServerOperation(false)
                                      .Model(model =>
                                             {
                                                 model.Id(p => p.Id);
                                                 model.Field(x => x.Id).Editable(false);
                                             })
                                      .PageSize(5)
                                              .Read(read => read.Action("OnCategoryGridRead", "QuestionBank").Data("Exam.Handlers.QuestionBank.Category.getGridParameters"))
                                             .Create(create => create.Action("OnCategoryGridCreate", "QuestionBank"))
                                              .Update(update => update.Action("OnCategoryGridUpdate", "QuestionBank"))
                                              //.Destroy(destroy => destroy.Action("OnCategoryGridDestroy", "QuestionBank"))
                                              .Events(events => events.RequestEnd("Exam.Handlers.QuestionBank.Category.requestEnd"))

                                  )
    )
</div>

