﻿@model attune.Exam.Web.Areas.Master.Models.QuestionBank.ExamTypeView


<div id="divQsBank" class="ab_grid">

    @(Html.Kendo().Grid(Model.ExamTypes)
          .Name("grdExamType")
                  .HtmlAttributes(new { style = "width: 500px;" })
          .Columns(columns =>
                   {
                       columns.Command(command => command.Edit()).Width(20);
                       //columns.Command(command => command.Destroy()).Width(35);
                       columns.Bound(p => p.Id).ClientTemplate("<button class='no_bg red_icon' data-mode='delete' rowId='#=Id#'><i class='att att-times-circle'></i></button>").Title("").Width(25);
                       columns.Bound(p => p.Id).Hidden(true);
                       columns.Bound(p => p.Name).Width(80);
                       columns.Bound(p => p.Description).Width(150);
                   })

          .Pageable()
          .Editable(editable => editable.Mode(GridEditMode.InLine))
                .ToolBar(toolBar =>
                         {
                             toolBar.Create().Text(@L("MasterQuestionBankExamTypeGridToolbarAdd").Text);
                   @*toolBar.Template(@<text>
                    <a class="default_btn green_btn k-button k-button-icontext att att-plus" id="aRowExamTypeAdd"><span class="btn_text">@L("MasterQuestionBankButtonAdd").ToString()</span></a>
                </text>);*@
                         })
                                       .Events(x =>
                                                  {
                                                      x.DataBound("Exam.Handlers.QuestionBank.ExamType.onDataBoundExamType");
                                                     
                                                  })
                                  .Sortable(x => x.Enabled(false))
                                  .Scrollable(x => x.Height("auto"))
                                  .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                                  .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .ServerOperation(false)
                                      .Model(model =>
                                             {
                                                 model.Id(p => p.Id);
                                                 model.Field(x => x.Id).Editable(false);
                                             })
                                      .PageSize(5)
                                      .Read(read => read.Action("OnExamTypeGridRead", "QuestionBank"))
                                      .Create(create => create.Action("OnExamTypeGridCreate", "QuestionBank"))
                                      .Update(update => update.Action("OnExamTypeGridUpdate", "QuestionBank"))
                                      //.Destroy(destroy => destroy.Action("OnExamTypeGridDestroy", "QuestionBank"))
                                              .Events(events => events.RequestEnd("Exam.Handlers.QuestionBank.ExamType.requestEnd"))

                                  )
    )
</div>

