﻿@model attune.Exam.Web.Areas.Master.Models.QuestionBank.CreateQuestionView
@{
    ViewBag.Title = @L("MasterQuestionBankCreationTitle");

}

@using (Html.BeginForm())
{

    <div class="employ-filters up-lvl show" id="sticky">
        <div class="box">
            <div class="col-xs-6 req exam_type_wrap drop_grid">
                @Html.LabelFor(x=>x.ExamTypeId)
                @Html.EditorFor(x => x.ExamTypeId)
                <button id="aExamType" class="default_btn green_btn att att-plus" ></button>
                <div id="partialExamType"></div>
            </div>
            <div class="col-xs-6 req exam_type_wrap drop_grid">
                @Html.LabelFor(x=>x.CategoryId)
                @Html.EditorFor(x => x.CategoryId)
                <button id="aCategory" class="default_btn green_btn att att-plus" disabled="disabled"></button>
                <div id="partialCategory"></div>
            </div>
            <div class="col-xs-6 req">
                @Html.LabelFor(x => x.DifficultLevelId)
                @Html.EditorFor(x => x.DifficultLevelId)
            </div>
            <div class="col-xs-6 req">
                @Html.LabelFor(x => x.QuestionTypeId)
                @Html.EditorFor(x => x.QuestionTypeId)
            </div>
            <div class="col-xs-6 col-sm-3 req col_text-box">
                @Html.LabelFor(x => x.Question)
                @Html.TextAreaFor(x => x.Question, new {rows = 3, cols = 35, placeholder = @L("MasterQuestionBankLabelQuestion")})
            </div>
        </div>
    </div>
    <br />
    <div class="middle_section">
        <div id="divQsBank" class="ab_grid">
            @(Html.Kendo().Grid(Model.Answers)
          .Name("gridAnswer")
          .Columns(columns =>
                   {
                       columns.Bound(p => p.Id).Hidden(true);
                       columns.Bound(p => p.IsCorrect).ClientTemplate("<input type='checkbox' #= IsCorrect ? checked='checked' : '' # />").Title(@L("MasterQuestionBankGridHeaderIsCorrect").Text.ToString()).Width(40);
                       columns.Bound(p => p.Response).Title(@L("MasterQuestionBankGridHeaderAnswer").Text.ToString());
                   })
          .Editable(x =>
                    {
                        x.Mode(GridEditMode.InCell);
;
                    }) 
            .ToolBar(toolBar =>
               {
                    toolBar.Template(@<text>
                    <a class="default_btn green_btn k-button k-button-icontext att att-plus" id="aRowAdd"><span class="btn_text">@L("MasterQuestionBankButtonAdd").ToString()</span></a>
                    </text>);
               })

                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .Batch(true)
                              .PageSize(10)
                              .ServerOperation(false)
                              .Model(model => model.Id(p => p.Id))

                          )
            )
        </div>
    </div>

    <div class="button_row">
        <button id="btnSave" class="default_btn green_btn att att-save (alias)"><span class="btn_text">@L("MasterQuestionBankButtonSavePublish")</span></button>
        <button id="btnDraft" class="default_btn red_btn att att-list"><span class="btn_text">@L("MasterQuestionBankButtonDraft")</span></button>
    </div>


    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.AnswersString)
    @Html.HiddenFor(x => x.PublishedMode)
}



