﻿@model attune.Exam.Web.Areas.Master.Models.QuestionBank.QuestionBankView
@{
    ViewBag.Title = @L("LayoutNavigationQuestionBank");

}

@using (Html.BeginForm())
{

    <div class="employ-filters up-lvl show" id="sticky">
        <p>Filter: <i class="att att-caret-down"></i></p>
        <div class="box">
            <div class="col-sm-3 req">
                @Html.EditorFor(x => x.FilterView.ExamTypeId)
            </div>
            <div class="col-sm-3">
                @Html.EditorFor(x => x.FilterView.CategoryId)
            </div>
            <div class="col-sm-3">
                @Html.EditorFor(x => x.FilterView.DifficultLevelId)
            </div>
            <div class="col-sm-3 mode_wrap">
                @Html.EditorFor(x => x.FilterView.IsPublished)
                <button type="button" class="default_btn green_btn att att-search" id="btnGo"></button>
            </div>
        </div>
    </div>

}

<div class="middle_section">
    <div id="divQsBank" class="ab_grid">
        @(Html.Kendo().Grid(Model.GridView.DataSource)
          .Name("grdQuestionBank")
          .Columns(columns =>
                   {
                       columns.Bound(p => p.Id).ClientTemplate("<a class='blue_icon hover_disable_blue att' href='" + Url.Action("Edit", "QuestionBank", new { Id = "#=Id#" }) + "' data-mode='edit' ><i class='att att-edit (alias)'></i></a>").Title("").Width(40).Sortable(false);
                       columns.Bound(p => p.Id).ClientTemplate("<button class='no_bg red_icon' data-mode='deactivate' rowId='#=Id#'><i class='att att-times-circle'></i></button>").Title("").Width(50).Sortable(false);
                       columns.Bound(p => p.Id).ClientTemplate("<button class='no_bg green_icon' data-mode='publish' rowId='#=Id#'><i class='att att-arrow-circle-up'></i></button>").Title("").Width(50).Sortable(false);
                       columns.Bound(p => p.Id).Hidden(true);
                       columns.Bound(p => p.ExamType.Name).Sortable(true).Title(@L("MasterQuestionBankGridHeaderExamType").ToString()).Width(130);
                       columns.Bound(p => p.Category.Name).Sortable(true).Title(@L("MasterQuestionBankGridHeaderCategory").ToString()).Width(130);
                       columns.Bound(p => p.DifficultLevel).Sortable(false).Title(@L("MasterQuestionBankGridHeaderDifficultLevel").ToString()).Width(130);
                       columns.Bound(p => p.Question).Sortable(false).Title(@L("MasterQuestionBankGridHeaderQuestion").ToString());
                       columns.Bound(p => p.IsPublished).Hidden();
                   })

          .Events(x =>
                  {
                      x.DataBound("Exam.Handlers.QuestionBank.onDataBound");
                  })
          .Pageable(pager => pager
              .Input(Model.GridView.PagerView.Input)
              .Numeric(Model.GridView.PagerView.Numeric)
              .Info(Model.GridView.PagerView.Info)
              .PreviousNext(Model.GridView.PagerView.PreviousNext)
              .Refresh(Model.GridView.PagerView.Refresh)
              .PageSizes(Model.GridView.PagerView.PageSizes)
          )
          .ToolBar(toolBar =>
                   {
                       toolBar.Template(@<text>
                                <a href="@Url.Action("Create", "QuestionBank")" class="default_btn green_btn k-button k-button-icontext att att-plus"><span class="btn_text">@L("MasterQuestionBankButtonAdd").ToString()</span></a>
        <a href="#" class="default_btn blue_btn k-button k-button-icontext att att-upload" id="uploadQuestionWindow"><span class="btn_text">@L("MasterQuestionBankButtonUpload").ToString()</span></a>
        <a href="#" class="default_btn green_btn k-button k-button-icontext att att-download" id="downLoadTemplate"><span class="btn_text">@L("MasterQuestionBankButtonDownLoadTemplate").ToString()</span></a>
                                </text>);
                     })
                                                  .Sortable(x => x.Enabled(true))
                                                  .AutoBind(false)
                                                  .Scrollable(x => x.Height("auto"))
                                                  .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                                                  .DataSource(dataSource => dataSource
                                                      .Ajax()
                                                      .ServerOperation(false)
                                                      .Model(model =>
                                                             {
                                                                 model.Id(p => p.Id);
                                                             })
                                                      .PageSize(10)
                                                      .Read(read => read.Action("OnQuestionBankGridRead", "QuestionBank").Data("Exam.Handlers.QuestionBank.getGridParameters"))

                                                  )
        )
    </div>
</div>

<div id="uploadPopup">
    @(Html.Kendo().Window()
        .Name("uploadWindow")
                        .Title(@L("MasterQuestionBankPopupUploadTitle").ToString())
        .Modal(true)
        .Draggable()
        .Visible(false)
        .Content(@<text>
            <div id="upload">

                <div class="k-content">
                    <div>
                        <input name="file" id="file" type="file" class="ffff"/>
                    </div>
                    <div id="upload-errors" class="popup_error_msg" style="display: none;"></div>
                </div>
            </div>

        </text>)
                                  .Actions(x =>
                                  {
                                      x.Close();
                                  }).Events(x => x.Open("Exam.Handlers.QuestionBank.onOpenUploadPopUp"))
                                   
                                   .Width(500)
    )
</div>
